* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* --------------------------Main----------------------------------- */

h2{
    line-height: 28px;
    color: #18515F;
    text-align: center;
}

.editar-titulo{
    margin-top: 40px;
    line-height: 20px;
    color: #18515F;
    text-align: left;
}

hr {
    margin-top: 24px;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* --- Generales */
.titulo-ppal {
    width: 90%;
    margin: 24px auto;
}

/* p {
    margin: 12px 0px 4px 0px;
} */

button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #18515F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    margin: 16px 0px 16px 0px;
    cursor: pointer;
}

button:hover {
    background-color: #216F83 ;
}


/* --- Contenedor formulario */
.contenedor-alta {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    margin: 20px auto;
    border-radius: 12px;
    margin-bottom: 20px;
    height: 100%;
    
}

/* --- Flex formulario */

.flex-linea {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flex-columna {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* --- formulario */
.formu {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: max-content;
}

label {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 2px;
}

input::placeholder {
    color: #18515F;
}

form input {
    font-size: 14px;
    border: 1px solid #B8D6BF ;
    border-radius: 8px;
    padding: 12px 16px ;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


form input[type=file] {
    border-color: white;
    padding: 12px 4px;
}

form input[type=file]:hover {
    border-color: white;
}

.mostrar_imagen {
    height: 100px;
    width: 100px;
    padding: 8px;
    margin-top: 12px;
    outline: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
}

/* --- Condiciones formulario */
form input:hover {
    border: 1px solid #00505F;
}

form input:focus {
    outline: none;
    border: 1px solid #00505F;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form input[type="text"]:not(:placeholder-shown), [type="number"]:not(:placeholder-shown), input[type="password"]:not(:placeholder-shown), input[type="email"]:not(:placeholder-shown){
    border: 1px solid #4CAF50;
}

textarea:not(:placeholder-shown){
    border: 1px solid #4CAF50;
}

.errores {

        color: red ;
        font-size: 16px;
        font-weight: 500;

}
/* --- selectores */
select {
    font-size: 14px;
    border: 1px solid #B8D6BF ;
    border-radius: 8px;
    padding: 12px 16px;
}

/* --- textarea */
textarea {
    height: 80px;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    resize: none;
    font-family: roboto;
    font-size: 16px;
}
textarea::placeholder {
    color: #18515F;
}
textarea:hover {
    border: 1px solid #00505F;
}

textarea:focus {
    outline: none;
    border: 1px solid #00505F;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* --------------------------Main----------------------------------- */


@media (min-width: 768px) {

/* --------------------------Main----------------------------------- */

.flex-linea {
    flex-direction: row;
}
.flex-columna {
    width: 50%;
}

}


