* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.all {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0;
    margin: auto;
}

/* 1er contenedor */
.contenedor-producto {  /* contenedor padre (igual metido dentro de .all) */
    /* width: 100%; */
    background-color: #fede87;
    border: 1px solid #FECF53;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.contenedor1 {  /* contenedor padre: contenedor-producto  */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
}

.contenedor-img {   /* contenedor padre: contenedor1  */
    width: 20%;
    margin: 0;
}

.imagen {   /* contenedor padre: contenedor-img  */
    width: 90%;
    height: 100%;
}

.texto {   /* contenedor padre: contenedor1  */
    width: 75%;
    padding: 5px;
}

.titulo-cantidad {  /* el div del titulo ppal y la cantidad *//* contenedor padre: texto  */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.precio-con-descto {   /* contenedor padre: texto  */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
}

.arriba {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    width: 90%;
}

.abajo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    width: 90%;
}

.div-botones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.boton-eliminar, .botton-comprar {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: #1e697b;
    font-size: 13px;
    font-weight: 500;
    transition: 450ms;
}

.boton-eliminar:hover, .botton-comprar:hover {
    color: black;
}

/* textos del 1er contenedor */
.titulo-nombre-producto {  /* titulo */
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
}

.titulo-descrip {  /* titulo descripcion */
    font-size: 14px;
    text-decoration: underline;
    color: rgb(57, 57, 57);
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
}

.descrip {   /* descripcion producto */
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 25px;
    text-align: left;
}

.precio-tachado-detalle {  /* precio tachado */
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 8px;
    /* width: 58%; */
    text-align: left;
}

.precio-oferta {   /* texto de precio en oferta!! */
    color: #18515f;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    margin: 0;
    text-align: left;
}

.precio-detalle {   /* el precio final */
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    margin-left: 5px;
    text-align: left;
}

.precio-detalle2 {   /* el precio final del producto sin dscto */
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    margin-left: 5px;
    text-align: left;
}

.descuento-precio {   /* el texto del 20 OFF */
    color: #18515f;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    margin-left: 5px;
    width: 25%;
    text-align: left;
}

.precio-regular {   /* El div del precio regular */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.precio-normal {   /* texto de precio regular */
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    text-align: left;
}

.precio-normal2 {   /* texto de precio */
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.ruta {
    color: #1e697b;
    font-weight: 500;
    font-size: 16px;
}

.ruta:hover {
    color: black;
}

.ruta-barras {
    display: none;
    font-size: 14px;
}

/* 2do contenedor */
.contenedor-proceder-pago {  /* contenedor padre (igual metido dentro de .all) */
    background-color: #fede87;
    border: 1px solid #FECF53;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0;
    padding: 10px;
    /* width: 100%; */
}

.textos2 {   /* contenedor padre: contenedor-proceder-pago */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    height: 100%;
}

/* textos del 2do contenedor */
.resumen-compra {
    font-size: 14px;
    width: 100%;
    text-align: left;
    font-weight: 300;
    margin-top: 0;
    text-decoration: underline;
    color: rgb(57, 57, 57);;
}

.subtotal-titulo {
    font-size: 14px;
    width: 30%;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.subtotal {
    font-size: 14px;
    width: 50%;
    text-align: right;
    margin: 0;
    margin-bottom: 10px;
}

.gratis-titulo {
    font-size: 12px;
    width: 30%;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.gratis {
    font-size: 12px;
    color: #1e697b;
    width: 50%;
    text-align: right;
    margin: 0;
    margin-bottom: 10px;
}

.total-titulo {
    font-size: 16px;
    width: 30%;
    margin: 0;
    text-align: left;
    font-weight: 500;
}

.total {
    font-size: 16px;
    width: 50%;
    text-align: right;
    margin: 0;
    font-weight: 500;
}

/* boton de pago */
.botonDePago {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1e697b;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 450ms;
    border: 1px solid #18515f;
    width: 100%;
}

.btn:hover {
    background-color: #349fba;
}

/* .eliminar-btn {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

/* .eliminar-btn:hover {
    background-color: #ff0000;
} */


/* seccion productos */
.section-productos-descuentos {
    width: 90%;
    margin: auto;
    padding-top: 3%;
    margin-top: -15px;
}

h2 {
    margin-bottom: 10px;
}

.div-section-productos-descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* card producto */
.articulo-productos-descuentos {
    width: 80%;
    height: auto;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor_imagen {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    background-color: white;
    height: 140px;
    overflow: hidden;
    width: 100%;
}

.div-card {
    width: 100%;
    padding: 0;
    margin: 0;
}

.img-productos-descuentos {
    margin: auto;
    width: auto;
}

.contenedor_imagen .img-productos-descuentos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_nombre_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.texto_descripcion_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.precio-d {
    padding: 0;
    margin: 0;
    font-weight: 600;
    width: 30%;
    font-size: 16px;
}

.precio {
    font-weight: 600;
    width: 30%;
    font-size: 16px;
}

.precio-tachado {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descuento {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    color: #24768b;
    font-weight: 500;
    font-size: 14px;
    width: 60%;
    text-align: left;
    margin-left: 5px;
}

.div-precios {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.div-boton-comprar {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.boton-comprar {
    text-align: center;
    background-color: #1e697b;
    color: white;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
}

.etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
    font-weight: 500;
    font-size: 11px;
    padding: 4px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    margin: 0;
}

.etiqueta-comida-bicho-card {
    color: #5746d7;
    border: 1px solid #5746d7;
}

.etiqueta-accesorio-bicho-card {
    color: #29d5de;
    border: 1px solid #29d5de;
}

.etiqueta-higiene-bicho-card {
    color: #e8a62b;
    border: 1px solid #e8a62b;
}

.etiqueta-juguete-bicho-card {
    color: #9b46d7;
    border: 1px solid #9b46d7;
}
/* hasta aca card producto */

/* --------------------------------------------- tablet ----------------------------------------------------------------- */

@media (min-width: 768px) {

    /* .cantidad {
        border: 1px solid blue;
    } */

    .all {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        flex-direction: row;
    }
    
    /* 1er contenedor */
    .contenedor-producto {  /* contenedor padre (igual metido dentro de .all) */
        width: 70%;
        display: flex;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .div-botones {
        margin-bottom: 20px;
    }
    
    .boton-eliminar, .botton-comprar {
        font-size: 12px;
        font-weight: 500;
    }

    /* textos del 1er contenedor */
    .titulo-nombre-producto {  /* titulo */
        font-size: 14px;
        margin-bottom: 13px;
    }

    .titulo-descrip {  /* titulo descripcion */
        font-size: 12px;
        text-decoration: underline;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
    }

    .descrip {   /* descripcion producto */
        font-size: 11px;
        font-weight: 300;
        margin: 0;
        margin-bottom: 25px;
    }

    .precio-tachado-detalle {  /* precio tachado */
        font-size: 10px;
        font-weight: 300;
        margin: 0;
        margin-bottom: 10px;
        margin-left: 8px;
        /* width: 70%; */
    }

    .precio-oferta {   /* texto de precio en oferta!! */
        font-weight: 300;
        font-size: 10px;
        margin: 0;
    }

    .precio-normal {   /* texto de precio regular */
        font-weight: 300;
        font-size: 10px;
        margin: 0;
        /* margin-bottom: 15px; */
    }

    .precio-detalle {   /* el precio final */
        font-size: 13px;
        font-weight: 500;
        margin: 0;
        margin-left: 5px;
    }

    .precio-detalle2 {   /* el precio final */
        font-size: 13px;
        font-weight: 500;
        margin: 0;
        margin-left: 5px;
    }

    .descuento-precio {   /* el texto del 20 OFF */
        font-weight: 400;
        font-size: 10px;
        margin: 0;
        margin-left: 5px;
        width: 25%;
    }

    .precio-normal2 {   /* texto de precio */
        font-weight: 300;
        font-size: 10px;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .subtitulo2, .precio {
        margin-top: 1px;
    }
    
    .titulo, .subtitulo, .subtitulo2 {
        color: #18515f;
    }
    
    .cantidad {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        /* margin-top: 20px; */
        padding-left: 90px;
    }
    
    select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
    }
    
    .contenedor-proceder-pago {
        width: 28%;
        margin-left: 5px;
        padding: 15px;
    }

    .textos2 {
        height: auto;
    }

    /* textos del 2do contenedor */
    .resumen-compra {
        font-size: 12px;
    }

    .subtotal-titulo {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .subtotal {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .gratis-titulo {
        font-size: 11px;
        margin-bottom: 10px;
    }

    .gratis {
        font-size: 11px;
        margin-bottom: 10px;
    }

    .total-titulo {
        font-size: 14px;
    }

    .total {
        font-size: 14px;
    }

    /* boton de pago */
    .botonDePago {
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 7px;
    }
    
    /* seccion productos */
    .section-productos-descuentos {
        margin-top: -30px;
    }

    .div-section-productos-descuentos {
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 10px;
    }
    
    /* card producto */
    .articulo-productos-descuentos {
        width: 80%;
    }

    .etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
        font-size: 10px;
        width: 65%;
    }
}

@media (min-width: 993px){

    /* card producto */
    .articulo-productos-descuentos {
        width: 85%;
        height: auto;
    }
}

@media (min-width: 1024px) {

    .div-botones {
        margin-bottom: 20px;
    }
    
    .boton-eliminar, .botton-comprar {
        font-size: 13px;
        font-weight: 500;
    }

    .contenedor-proceder-pago, .contenedor-producto {
        transition: 450ms;
    }

    .contenedor-proceder-pago:hover  {
        background-color: #ffd151;
    }
    
    .contenedor-producto:hover {
        background-color: #ffd151;
    }

    .titulo-nombre-producto {
        font-size: 16px;
    }

    .titulo-descrip {
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
    }

    .descrip {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 25px;
    }

    .precio-detalle {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        margin-left: 10px;
    }

    .precio-detalle2 {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        margin-left: 10px;
    }

    .precio-tachado-detalle {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
        margin-left: 8px;
        /* width: 70%; */
    }

    .precio-normal {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }

    .precio-normal2 {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
        margin-bottom: 10px;
    }

    .precio-oferta {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }

    .descuento-precio {
        font-weight: 500;
        font-size: 13px;
        margin: 0;
        margin-left: 10px;
        width: 30%;
    }

    .ruta {
        color: #1e697b;
        font-weight: 500;
        font-size: 14px;
    }
    
    .ruta:hover {
        color: black;
    }
    
    .ruta-barras {
        display: block;
        font-size: 13px;
        margin-bottom: -10px;
        margin-left: 13px;
    }

    /* textos del 2do contenedor */
    .resumen-compra {
        font-size: 14px;
    }

    .subtotal-titulo {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .subtotal {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .gratis-titulo {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .gratis {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .total-titulo {
        font-size: 16px;
    }

    .total {
        font-size: 16px;
    }

    /* boton de pago */
    .botonDePago {
        margin: 0;
        margin-top: 40px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    /* card producto */
    .articulo-productos-descuentos {
        width: 85%;
        transition: 450ms;
    }
    
    .articulo-productos-descuentos:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
    }
    
    button {
        cursor: pointer;
    }
    
    .boton-comprar {
        transition: 450ms;
    }
    
    .boton-comprar:hover {
        background-color: #349fba;
    }
    
    h4 { /* producto.nombre */
        font-size: 14px;
    }
    
    .descripcion {
        font-size: 12px;
    }

    .etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
        font-size: 10.5px;
        padding: 4px;
        width: 67%;
    }
    
    .etiqueta-comida-bicho-card {
        color: white;
        border: 1px solid #5746d7;
        background-color: #5746d7;
    }
    
    .etiqueta-accesorio-bicho-card {
        color: white;
        border: 1px solid #29d5de;
        background-color: #29d5de;
    }
    
    .etiqueta-higiene-bicho-card {
        color: white;
        border: 1px solid #e8a62b;
        background-color: #e8a62b;
    }
    
    .etiqueta-juguete-bicho-card {
        color: white;
        border: 1px solid #9b46d7;
        background-color: #9b46d7;
    }
}


@media (min-width: 1200px) {

    .all {
        max-width: 1200px;
        margin: auto;
    }

    .boton-eliminar, .botton-comprar {
        font-size: 15px;
        font-weight: 500;
    }

    .div-botones {
        margin-bottom: 25px;
    }

    .titulo-nombre-producto {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .titulo-descrip {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .descrip {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .precio-detalle {
        font-size: 18px;
        margin-left: 12px;
    }

    .precio-detalle2 {
        font-size: 18px;
        margin-left: 12px;
    }

    .precio-tachado-detalle {
        font-size: 16px;
        margin-bottom: 12px;
        margin-left: 10px;
        width: 70%;
    }

    .precio-normal {
        font-size: 16px;
    }

    .precio-normal2 {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .precio-oferta {
        font-size: 16px;
    }

    .descuento-precio {
        font-size: 15px;
        margin-left: 10px;
        width: 40%;
    }

    .ruta {
        opacity: 1;
        color: #1e697b;
        font-weight: 500;
        font-size: 16px;
    }
    
    .ruta:hover {
        color: black;
    }
    
    .ruta-barras {
        opacity: 1;
        font-size: 15px;
        margin-bottom: -10px;
        margin-left: 15px;
    }

    /* textos 2do contenedor */
    .resumen-compra {
        font-size: 16px;
    }

    .subtotal {
        font-size: 16px;
        width: 50%;
        text-align: right;
        margin: 0;
        margin-bottom: 15px;
    }

    .total {
        font-size: 18px;
        width: 50%;
        text-align: right;
        margin: 0;
        margin-bottom: 15px;
    }

    .gratis {
        font-size: 14px;
        color: #1e697b;
        width: 50%;
        text-align: right;
        margin: 0;
        margin-bottom: 15px;
    }

    .subtotal-titulo {
        font-size: 16px;
        width: 30%;
        margin: 0;
        margin-bottom: 15px;
    }

    .total-titulo {
        font-size: 18px;
        width: 30%;
        margin: 0;
        margin-bottom: 15px;
    }

    .gratis-titulo {
        font-size: 14px;
        width: 30%;
        margin: 0;
        margin-bottom: 15px;
    }

    /* boton de pago */
    .botonDePago {
        margin: 0;
        margin-top: 40px;
    }

    .btn {
        padding: 10px 18px;
        font-size: 16px;
    }

    /* seccion productos */
    .section-productos-descuentos {
        max-width: 1200px;
        margin: auto;
    }

    .articulo-productos-descuentos {
        width: 80%;
    }
    
    h2 { /* titulos "Productos para perro/gato" */
        margin-top: -10px;
        margin-bottom: 15px;
    }
    
    button {
        cursor: pointer;
    }

    /* card producto */
    h4 { /* producto.nombre */
        font-size: 16px;
    }
    
    .descripcion {
        font-size: 14px;
    }
    
    .texto_nombre_arriba {
        max-height: 40px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
    .texto_descripcion_arriba {
        max-height: 50px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
        font-size: 12px;
        padding: 5px;
        width: 68%;
    }

}