*{
    font-family:  Roboto, 
}
.top {
    background-color: #18515F;
    height: 20%;
    width: 100vw;
    }
    
    .flex-top {
        width: 100vw;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        width: 15%;
        height: 60%;
        margin: 10px;
        margin-right: 1px;
    }
    
    .titulo-head {
        display: none;
        width: 15%;
        font-family: 'Amatic SC';
        font-size: 60px;
        color: white;
        margin-left: 0.1px;
        margin-top: 10px;
        
    }
    
    .barra {
        width: 28%;
        font-family: 'Roboto';
        font-size: 20px;
        color: white;
        margin-right: 10px;
    }
    
    .barra input[type="search"] {
        border-radius: 10px; 
        padding: 10px; 
        width: 200px; 
        box-sizing: border-box; 
        border: 1px solid #ccc; 
    }
    
    
    .mi-cuenta, .mis-compras {
        display: none;
    }
    
    
    .menu-top {
        display: block;
        text-align: right;
        margin-right: 40px;
        margin-top: 10px;
    
    }
    
    .carrito {
        display: block;
    }
    
    .logo-carrito-tablet {
        display: none;
    }
    
    .logo-carrito-mobile {
        display: block;
        text-align: right;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .carrito-text {
        display: none;
    }
    
    .header2 {
        display: none;
    }

.carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}
/*-----------Main-------------*/
main{
    background-color: #EBEBEB;
}
.contenedor{
display: flex;
align-items: center;
justify-content: center;



}
.precioproducto{
    text-align: end;
    float: right;
}
img{
  float: left;
    width: 79px;
   
}
.precioenvio{
      color: #39b54a;

}
.envio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.producto{
    width: 882px;
    height: 203px;
    margin:50px;
    padding:3px;
    border: #EDEDED 2px solid;
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF ;
}

.nombreopciones{
display: flex;
flex-direction: column;
justify-content: flex-start;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;

}
.fotoprod a{
    text-decoration: none;
    color: #18515F;
    font-weight: 400;

}



.nombre-vendedor{
    border-bottom: solid #EDEDED;
    height: 37px;
    display: flex;
    align-items: center;
  
}
.fotoprod{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: solid #EDEDED;
    padding: 1px 32px;
}
.resumencompra{
    width: 356px; 
    height: 281px; 
    border: 3px solid #EDEDED;
    background-color:#FFFFFF ;
    border-bottom: solid #EDEDED;
   
    
}
.resumen-de-compras{
    border-bottom: solid #EDEDED;
    height: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.precio-producto{
    display: flex;
    justify-content: space-around;
    
}
.precio{
    display: flex;
    justify-content: space-around;
  
    
}
.total{
    display: flex;
    justify-content: space-around;
   
}
button{
    color: #fff;
  background-color: #18515F;
  margin: 24px 24px 0;
  width: calc(100% - 48px);
  justify-content: center;
  display: flex;
  border-color: transparent;
  padding:10px 20px; ;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
button:hover{
    background-color:#216F83;
}
.resumen-de-compras{
    display: flex;
    justify-content: center;
}

/* ------------------- parte de rodri--------------------*/

.Recomendados{
    text-align: center;
}
.section-productos-descuentos {
    width: 90%;
    margin: auto;
    padding-top: 3%;
    margin-top: -15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.div-section-productos-descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo-productos-descuentos {
    width: 40%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 10px;
}

.img-productos-descuentos {
    width: 90%;
    border-radius: 5px;
}

.precio {
    font-weight: 600;
}

.precio-tachado {
    font-weight: 300;
    text-decoration: line-through;
}

.descuento {
    margin-top: -10px;
    color: #24768b;
    font-weight: 400;
    font-size: 14px;
}

.div-boton-comprar {
    text-align: center;
    margin: auto;
}

.boton-comprar {
    text-align: center;
    background-color: #1e697b;
    color: white;
    width: 90%;
    height: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
}



/*------------Footer----------*/


footer {
    background-color: #18515F;
    display: flex;
}

.logo2 {
    width: 3%;
    height: 30%;
    padding: 60px;
    display: none;
}

.nosotros {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-perro {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-gato {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.contacto {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.redes-sociales {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.facebook-tablet, .twitter-tablet, .instagram-tablet {
    display: none;
}

.rrss-iconos {
    display: flex;
    justify-content: space-between;
}
/* --------------------------footer----------------------------------- */

@media (min-width: 768px) {

/* --------------------------header----------------------------------- */
.producto{
width: 646px;    
}

.titulo-head {
    display: block;
    margin: auto;
}

.barra {
    margin-left: 50px;
    margin-right: 1px;
}

.barra input[type="search"] {
    width: 45vw; 
}

.opciones-top {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mis-compras {
    font-family: 'Roboto';
    display: none;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}

.mi-cuenta {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}

.carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 60px;
    margin-left: 20px;
    margin-top: 30px;
    color: white;
}

.logo-carrito-tablet {
    display: block;
}

.logo-carrito-mobile {
    display: none;
}

.carrito-text {
    display: block;
}

.fa-bars {
    display: block;
}

.header2 {
    display: flex;
    height: 35px;
    background-color: #18515F;
    border-top: 0.1px solid white;
    border-bottom: 0.3px solid white;
}

.header2-opciones {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
} 
}

@media (min-width: 1024px) {
    /* --------------- header ----------------------------------- */
    
    .producto{
        width: 646px;    
        }
    .fa-bars {
        display: none;
    }
    
    .carrito, .mis-compras, .mi-cuenta {
        display: block;
    }
    /* --------------- header ----------------------------------- */
        .section-servicios {
            display: block;
        }
    
        .h1-1ra-linea {
            font-size: 30px;
            position: absolute;
            top: -20px;
            left: 15px;
            cursor: pointer;
        }
        
        .h1-2da-linea {
            font-size: 30px;
            cursor: pointer;
        }
    
        .h2-banner-1ra-linea {
            top: 15px;
            left: 20px;
            font-size: 30px;
        }
        
        .h2-banner-2da-linea {
            top: 60px;
            left: 20px;
            font-size: 30px; 
        }
    
        .articulo-productos-descuentos {
            width: 13%;
            transition: 450ms;
        }
        
        .articulo-productos-descuentos:hover {
            box-shadow : 0px 0px 20px rgb(140, 140, 140);
        }
        
        button {
            cursor: pointer;
        }
        
        .articulo-productos-perro {
            width: 13%;
            transition: 450ms;
        }
        
        .articulo-productos-perro:hover {
            box-shadow : 0px 0px 20px rgb(140, 140, 140);
        }
        
        .boton-comprar {
            transition: 450ms;
        }
        
        .boton-comprar:hover {
            background-color: #349fba;
        }
    
        h4 {
            font-size: 14px;
        }
        
        .descripcion {
            font-size: 12px;
        }
    
    }
    
    /* --------------------------footer----------------------------------- */
    .logo2 {
        display: block;
    }
    /* --------------------------footer----------------------------------- */
    
    @media (min-width: 1200px) {
    
    /* --------------------------Main----------------------------------- */
    
    .section-servicios, .div-section-filtro-perro-gato, .section-productos-descuentos, .section-productos-perro, .div-productos-perro {
        max-width: 1200px;
        margin: auto;
    }
    
    .section-servicios {
        margin-top: 12px;
    }
    
    .articulo-servicio {
        width: 30%;
        margin: 10px;
    }
    
    .articulo-filtro-perro-gato {
        width: 48%;
        margin-top: -15px;
        margin-bottom: -15px;
        transition: 450ms;
    }
    
    .h1-1ra-linea {
        font-size: 40px;
        position: absolute;
        top: -30px;
        left: 15px;
        cursor: pointer;
    }
    
    .h1-2da-linea {
        font-size: 40px;
        cursor: pointer;
    }
    .img-boton-izq {
        cursor: pointer;
    }
    
    .img-boton-der {
        cursor: pointer;
    }
    
    
    h1 {
        font-size: 25px;
        transition: 450ms;
    
    }
    
    .articulo-productos-descuentos {
        width: 13%;
        transition: 450ms;
    }
    
    .articulo-productos-descuentos:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
    }
    
    h2 {
        margin-top: 9px;
        margin-bottom: 15px;
    }
    
    button {
        cursor: pointer;
    }
    
    .h2-banner-1ra-linea {
        top: 80px;
        left: 45px;
        font-size: 40px;
    }
    
    .h2-banner-2da-linea {
        top: 150px;
        left: 45px;
        font-size: 40px;
    }
    
    .h2-productos {
        margin-top: 10px;
    }
    
    .articulo-productos-perro {
        width: 13%;
        transition: 450ms;
    }
    
    .articulo-productos-perro:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
    }
    
    .boton-comprar {
        transition: 450ms;
    }
    
    .boton-comprar:hover {
        background-color: #349fba;
    }
    
    h4 {
        font-size: 16px;
    }
    
    .descripcion {
        font-size: 14px;
    }
    
    
    }
    @media (max-width: 1200px){
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

