*{
    font-family:  Roboto, 
}
.top {
    background-color: #18515F;
    display: flex;
    height: 20vh;
}

.logo {
    width: 8%;
    height: 80%;
    padding: 10px;
}

.titulo-head {
    font-family: 'Amatic SC';
    font-size: 60px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    
}

.busqueda {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    margin:auto
}

.mis-compras {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}

.mi-cuenta {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}

.carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}

main{
    background-color: #EBEBEB;
}
.contenedor{
display: flex;
justify-content: space-between;


}
.precioproducto{
    text-align: end;
    float: right;
}
img{
  float: left;
    width: 79px;
   
}
.precioenvio{
      color: #39b54a;

}
.envio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.producto{
    width: 882px;
    height: 180px;
    margin:50px;
    padding:3px;
    border: #EDEDED 2px solid;
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF ;
}
.nombre-vendedor{
    border-bottom: solid #EDEDED;
    height: 37px;
  
}
.fotoprod{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: solid #EDEDED;
    padding: 15px 32px;
}
.resumencompra{
    width: 356px; 
    height: 281px; 
    border: 3px solid #EDEDED;
    background-color:#FFFFFF ;
    border-bottom: solid #EDEDED;
   
    
}
.resumen-de-compras{
    border-bottom: solid #EDEDED;
    height: 17px;
}
.precio-producto{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
}
.precio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    
}
.total{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
}
button{
    color: #fff;
  background-color: #2968C8;
  margin: 24px 24px 0;
  width: calc(100% - 48px);
  justify-content: center;
  display: flex;
  border-color: transparent;
  padding:10px 20px; ;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
button:hover{
    background-color:#39b54a;
}

footer {
    background-color: #18515F;
    display: flex;
}
.logo2 {
    width: 3%;
    height: 30%;
    padding: 60px;
}

.nosotros {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-perro {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-gato {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.contacto {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.redes-sociales {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}
@media (max-width: 769px){
    .resumencompra{
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}