*{
    font-family:  Roboto, 
}
.top {
    background-color: #18515F;
    display: flex;
    height: 20vh;
}

.logo {
    width: 8%;
    height: 80%;
    padding: 10px;
}

.titulo-head {
    font-family: 'Amatic SC';
    font-size: 60px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    
}

.busqueda {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    margin:auto
}

.mis-compras {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}

.mi-cuenta {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}

.carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: white;
}


.contenedor{
display: flex;
justify-content: space-between;

}
.precioproducto{
    text-align: end;
    float: right;
}
img{
  float: left;
    width: 79px;
   
}
.precioenvio{
    float: right;
    
       color: green;

}
.producto{
    width: 882px;
    height: 180px;
    margin:50px;
    padding:3px;
    border: black 2px solid;
}
.resumencompra{
    width: 356px; 
    height: 281px; 
    border: 3px solid #555;
   
    
}
.precio{
    float: right;
    
}
button{
    color: #fff;
  background-color: #2968C8;
  margin: 24px 24px 0;
  width: calc(100% - 48px);
  justify-content: center;
  display: flex;
  border-color: transparent;
  height: 48px;
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
}
footer {
    background-color: #18515F;
    display: flex;
}
.logo2 {
    width: 3%;
    height: 30%;
    padding: 60px;
}

.nosotros {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-perro {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-gato {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.contacto {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.redes-sociales {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

