@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/* --- Estilos generales --- */

 body {
    font-family:'Roboto';
 }

 * {
  box-sizing: border-box;
}

.flex-enlinea {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* --- botones iconos --- */

button {
    border: none;
    width: 80%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    margin: 16px 0px 16px 0px;
    cursor: pointer;
}


.btn-icon {
    display: flex;
    width: 160px;
    height: 40px;
    align-items: center;
    justify-content:center;
    color: #1b1b1b;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    gap: 12px;
    border-radius: 12px;
}

.btn-icon:hover{
    background-color: rgb(241, 241, 241) ;
}

svg {
    height: 20px;
    width: 20px;
    color: #18515F;
}

/* --- Media Query --- */



@media (min-width: 769px) {
    .flex-enlinea {
        display: none;
    }

  
}
