@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* --- Estilos generales --- */

body {
    font-family:'Roboto';
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

/* h4 {
    margin-top: 0;
    margin-bottom: 0;
} */

.flex-enlinea {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_enlinea_menu {
    display: flex;
    padding-left: 12px;
    margin-bottom: -20px; 
}

/* --- cantidad productos --- */
.cantidad_productos {
    margin-left: 24px;
    margin-top: 40px;
}

/* --- botones iconos --- */

button {
    border: none;
    width: 80%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    margin: 16px 0px 16px 0px;
    cursor: pointer;
}


.btn-icon {
    display: flex;
    width: 160px;
    height: 40px;
    align-items: center;
    justify-content:center;
    color: #1b1b1b;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    gap: 12px;
    border-radius: 12px;
}

.btn-icon:hover{
    background-color: rgb(241, 241, 241) ;
}

svg {
    height: 20px;
    width: 20px;
    color: #18515F;
}

/* --- Menu Ordenar --- */
.seccion-menu-ordenar {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}

.flex-linea-close svg {
    height: 36px;
    width: 36px;
    color: #18515F;

}

.contendor_opciones {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    padding: 24px 0px ;
    height: 90vh;
}

.ordenar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: fit-content;
    border-radius: 8px;
}

.opciones {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 12px;
}

input[type="radio"] {
    height: 24px;
    width: 24px;
}

.input[type="radio"]:checked {
    border: none;
    border: 1px solid #18515F;
}

.flex-linea-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

/* --- Menu Desktop --- */
.contenedor_menu_productos_desktop {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    width: 100%;
    border: 1px solid white;
}

.contenedor_menu_desktop {
    margin-top: 80px;
    width: 24%;
    border: 1px rgb(180, 180, 180) solid;
    border-radius: 8px;
    height: fit-content;
}

.contenedor_filtros {
    width: 85%;
    margin: 12px auto;
}

.lista_filtros_desktop {
    margin-top: 12px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
}

/* --- Lista productos desktop --- */
.lista_desktop {
    width: 90%;
    margin: 12px auto;
    border: 1px solid white;
}

.lista_flexbox_desktop {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lista_flexbox_desktop---comida, .lista_flexbox_desktop---accesorio, .lista_flexbox_desktop---higiene, .lista_flexbox_desktop---juguete, .lista_flexbox_desktop---de0a10, .lista_flexbox_desktop---de10a20, .lista_flexbox_desktop---de20a30, .lista_flexbox_desktop---de30aX, .lista_flexbox_desktop---de0a10comidaPerro {  
    border: 1px solid white;
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.lista_flexbox_desktop---contenedorPromoPerro, .lista_flexbox_desktop---contenedorPromoGato, .lista_flexbox_desktop---eukanuba, .lista_flexbox_desktop---proplan, .lista_flexbox_desktop---royal, .lista_flexbox_desktop---cancat, .lista_flexbox_desktop---catit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* --- Lista productos mobile --- */
.lista {
    width: 90%;
    margin: 12px auto;
}

.lista_flexbox {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;

}

/* --- Card producto --- */
.articulo-productos-descuentos {
    width: 49%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
}

.contenedor_imagen {
    background-color: white;
    height: 40%;
    overflow: hidden;
    border: 1px solid white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    
}

.img-productos-descuentos {
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    height: 80%;
    margin-top: 10%;

}

.div-card {
    width: 100%;
    height: 60%;
    padding: 0;
    margin: 0;
}

.div-uno {
    border: 1px solid white;
    height: 42%;
    padding: 0;
}

.texto_nombre_arriba {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid white;
    padding: 0;
    height: 50%;
}

.texto_description_arriba {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid white;
    height: 50%;
}

.descripcion {
    font-size: 14px;
    border: 1px solid white;
    height: 100%;
}

.div-dos {
    border: 1px solid white;
    height: 28%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.descuento {
    color: #24768b;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid white;
    width: 100%;
    margin: 0;
    padding: 0;
}

.div-tres {
    border: 1px solid white;
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0;
    
}

.div-tres-b {
    border: 1px solid white;
    height: 30%;
    margin: 0;
    padding: 0;
}

.div-tres-int {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid white;
    height: 50%;
    margin: 0;
    padding: 0;
}

.precio-tachado {
    color: rgb(56, 56, 56);
    font-weight: 300;
    text-decoration: line-through;
    width: 17%;
    font-size: 16px;
    border: 1px solid white;
    margin: 0;
    padding: 0;
}

.precio {
    font-weight: 600;
    width: 83%;
    font-size: 18px;
    border: 1px solid white;
    margin: 0;
    padding: 0;
    text-align: left;
}

.div-boton-comprar {
    text-align: center;
    width: 100%;
    border: 1px solid white;
    height: 50%;
    
}

.boton-comprar {
    text-align: center;
    background-color: #1e697b;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin: auto;
}

.lista_flexbox_desktop---invisible {   /* <<<<<<<<<<<<--------- para hacer el boton de mostrar mas ---------------||||||||||||| */
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 450ms;    
}

.div-btnver {
    display: none;
    /* opacity: 0.5; */
}

.btnver {
    background-color: #3c47bd;
    padding: 14px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 25%;
    border-radius: 25px;
    border: 1px solid black;
    transition: 450ms;
    margin-top: 5px;
    box-shadow : 0px 0px 20px rgb(140, 140, 140);
}

.myBtn {
    display: none;
    opacity: 0;
}

@media (min-width:361px){

    .flex-enlinea {
        justify-content: space-around;
    }
    
    .cantidad-producto p {
        display: none;
    }

    /* .contenedor_menu_productos_desktop {
        display: none;
    } */

    .contenedor_menu_desktop { /* el box de los filtros */
        display: none;
    }

    .myBtn {
        display: none;
        opacity: 0;
    }

    footer {
        margin-top: -80px;
    }
}

@media (min-width: 465px) {

    .numerito-carrito-mobile {
        height: 12px;
        width: 12px;
        padding: 3px;
        top: -9px;
        right: -10px;
        font-size: 10px;
    }

    .myBtn {
        display: none;
        opacity: 0;
    }
    
    footer {
        margin-top: -80px;
    }
}

@media (min-width: 769px) {

    .flex-enlinea {
        margin: auto;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
    }

    .ordenar {
        width: 70%;
    }

    .cantidad-producto p {
        display: block;
        padding-top: 12px;
    }

    .cantidad-producto {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .div-section-productos-descuentos {
        justify-content: space-between;
    }

    .articulo-productos-descuentos {
        width: 30%;
    }

    /* .contenedor_menu_productos_desktop {
        display: none;
    } */

    .contenedor_menu_desktop { /* el box de los filtros */
        display: none;
    }

    .precio-tachado {
        font-size: 14px;
    }

    .myBtn {
        display: none;
        opacity: 0;
    }

    
    
}

@media (min-width: 1024px) { /* desde acá se muestran 3 cards a lo ancho */

    main {
        background-color: rgb(226, 226, 226);
    }

    .flex-enlinea {
        display: none;
    }
   
    .boton-comprar {
        transition: 450ms;
    }

    .boton-comprar:hover {
        background-color: #349fba;
    }

    .articulo-productos-descuentos:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
    }

    /* card productos */
    .articulo-productos-descuentos {
        width: 30%;
        /* margin-left: 2.5%; */
    }

    .contenedor_menu_productos_desktop {
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .contenedor-filtros-desktop { /* el contenedor del box de los filtros */
        width: 15%;
        border: 1px solid rgb(226, 226, 226);
        padding: 5px;
        display: flex;
        align-items: flex-start;
    }

    .contenedor_menu_desktop { /* el box de los filtros */
        display: block;
        /* margin-left: 10px; */
        width: 100%;
        background-color: white;
        border: 1px solid rgb(159, 159, 159);
    }

    .contenedor_productos_mobile {
        display: none;
    }

    .lista_desktop { /* el box de los productos */
        width: 82%;
        margin: auto;
        border: 1px solid white;
        background-color: white;
    }

    .div-lista-desktop { /* mismo q el de arriba */
        border: 1px solid white;
    }

    .lista_flexbox_desktop { 
        border: 1px solid white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #1e697b; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 50%; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        width: 50px;
        height: 50px;
        opacity: 1;
    }
      
    .myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

    footer {
        margin-top: 0;
    }

    
}

@media (min-width: 1200px) { /* desde acá se muestran 4 cards a lo ancho */

    .contenedor-filtros-desktop { /* el contenedor del box de los filtros */
        width: 17%;
        border: 1px solid rgb(226, 226, 226);
        padding: 5px;
        display: flex;
        align-items: flex-start;
    }

    .contenedor_menu_desktop { /* el box de los filtros */
        /* margin-left: 7px; */
        width: 100%;
        background-color: white;
    }

    .lista_desktop { /* el box de los productos */
        max-width: 1200px;
        margin: auto;
        width: 83%;
        border: 1px solid white;
        background-color: white;

    }

    .lista_flexbox_desktop---invisible {   /* <<<<<<<<<<<<--------- para hacer el boton de mostrar mas ---------------||||||||||||| */
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        transition: 450ms;    
    }

    .lista_flexbox_desktop---comida {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---accesorio {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---higiene {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---juguete {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---de0a10 {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---de10a20 {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---de20a30 {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .lista_flexbox_desktop---de30aX {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .div-btnver {
        display: block;
    }

    .btnver {
        background-color: #3c47bd;
        padding: 14px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        width: 14%;
        border-radius: 25px;
        border: 1px solid #1a2493;
        transition: 450ms;
        margin-top: 5px;
    }

    .lista_flexbox_desktop---de0a10comidaPerro {  
        border: 1px solid white;
        /* display: flex; */
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    .btnver:hover {
        background-color: #438cd0;
    }

    .articulo-productos-descuentos {
        width: 21%;
    }

}

@media (min-width: 1600px) {

    .contenedor-filtros-desktop { /* el contenedor del box de los filtros */
        width: 18%;
        border: 1px solid rgb(226, 226, 226);
        padding: 5px;
        display: flex;
        align-items: flex-start;
    }

    .contenedor_menu_desktop { /* el box de los filtros */
        /* margin-left: 12px; */
        max-width: 300px;
        width: 100%;
    }

    .lista_desktop { /* el box de los productos */
        max-width: 1300px;
        width: 82%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .articulo-productos-descuentos {
        width: 21.5%;
    }

    .precio-tachado {
        font-size: 16px;
    }


}