@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/* --- Estilos generales --- */

 body {
    font-family:'Roboto';
 }

 * {
  box-sizing: border-box;
}

.flex-enlinea {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* --- botones iconos --- */

button {
    border: none;
    width: 80%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    margin: 16px 0px 16px 0px;
    cursor: pointer;
}


.btn-icon {
    display: flex;
    width: 160px;
    height: 40px;
    align-items: center;
    justify-content:center;
    color: #1b1b1b;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    gap: 12px;
    border-radius: 12px;
}

.btn-icon:hover{
    background-color: rgb(241, 241, 241) ;
}

svg {
    height: 20px;
    width: 20px;
    color: #18515F;
}



/* --- Ordenar --- */
.seccion-menu-ordenar {
   display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}
.flex-linea-close svg {
    height: 36px;
    width: 36px;
    color: #18515F;

}
.contendor_opciones {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    padding: 24px 0px ;
    height: 90vh;
   }
.ordenar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: fit-content;
    border-radius: 8px;
}
.opciones {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 12px;
}
input[type="radio"] {
    height: 24px;
    width: 24px;
}

.input[type="radio"]:checked {
    border: none;
    border: 1px solid #18515F;
}
.flex-linea-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}
/* --- Media Query --- */


/* --- Media Query --- */

@media (min-width:361px){

}
@media (min-width: 500px) {
      
}


@media (min-width: 769px) {
    .flex-enlinea {
        justify-content:flex-end;
        gap: 12px;
        padding-right: 12px ;
    }
    .ordenar {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .flex-enlinea {
        display: none;
    }
}