/* --------- Estilos generales ---------  */
body { 
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

/* ---------  MOBILE ---------   */

/* --- imagen ---  */
.contenedor_mobile {
    margin: 12px auto;
    display: block;
    width: 90%;
}

.contenedor_imagen_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto;

}
.imagen_producto_mobile{
    width: 80%;
}

/* --- detalles de producto ---  */
.detalle {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.titulo_nombre {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0px;
}

.precio {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.titulo_descripción {
    text-decoration: underline;
    text-decoration-color: rgb(156, 156, 156);
}

/* --- Botones ---  */
button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #18515F;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    width: 90%;
    font-size: 12px;
    margin: 15px;
    cursor: pointer;
    transition: 250ms;
}

button:hover{
    background-color: #0a323c;
}

.boton_editar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(237, 249, 67);
    border-radius: 8px;
    height: 32px;
    width: 90%;
    margin: 0 auto;
}   

.texto_boton {
    font-size: 13px;
}

.boton_eliminar{
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #da342c;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    width: 90%;
    font-size: 12px;
    margin: 15px;
    cursor: pointer;
    transition: 250ms;
}

/* --- Reel productos ---  */
.section-productos-descuentos {
    width: 90%;
    margin: auto;
    padding-top: 3%;
    margin-top: -15px;
}

.div-section-productos-descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo-productos-descuentos {
    width: 40%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}


.contenedor_imagen {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    background-color: white;
    height: 140px;
   overflow: hidden;
}

.contenedor_imagen .img-productos-descuentos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_nombre_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.texto_descripcion_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

