@media (min-width: 200px) { 
*{
    box-sizing: border-box;
}    

    body { 
        font-family: 'roboto';
    }

/*header*/
    .top {
        background-color: #18515F;
        display: flex;
        height: 20vh;
    }

    .logo {
        width: 8%;
        height: 80%;
        padding: 10px;
    }
    
    .titulo-head {
        font-family: 'Amatic SC';
        font-size: 60px;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
        
    }

    .busqueda {
        font-family: 'Roboto';
        font-size: 20px;
        color: white;
        margin:auto
    }

    .mis-compras {
        font-family: 'Roboto';
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        color: white;
    }

    .mi-cuenta {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        color: white;
    }

    .carrito {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        color: white;
    }
/*header*/

/*footer*/
footer {
    background-color: #18515F;
    display: flex;
}

.logo2 {
    width: 3%;
    height: 30%;
    padding: 60px;
}

.nosotros {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-perro {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-gato {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.contacto {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.redes-sociales {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

/*footer*/

/*main*/
.producto{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.angulos-del-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.angulo-producto{
    width: 30%;

}

.img-grande-producto{
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.producto-grande{
    width: 100%;
    justify-content: center;
}

.detalles{
    display: flex;
    flex-direction: column;
}

.nombre{
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    margin: 5px;
}

.precio{
    text-align: left;
    font-size: 30px;
    color:#FFD046;
    font-weight: 700;
}

.icono{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 75%;
}

.envio{
    border: solid, black, 5px;
    border-radius: 8px;
}

.fa-solid{
    padding: 20px;
    font-size: 40px;
    margin-left: 10px;
}

button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #18515F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 75%;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
    }

select {
    border: solid, 7px, black;
    border-radius: 8px;
    padding: 10px 12px;
    text-align: left;
    text-decoration: none;
    width: 75%;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    }   

/*main*/

}