/* --- Estilos generales ---  */
body { 
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

/* --- MOBILE ---  */

/* --- imagen ---  */
.contenedor_mobile {
    margin: 12px auto;
    display: block;
    width: 90%;
}

.contenedor_imagen_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px auto;

}
.imagen_producto_mobile{
    width: 80%;
}

/* --- detalles de producto ---  */
.detalle {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.nombre {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.precio {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
}


/* --- Botones ---  */
button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #18515F;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    width: 90%;
    font-size: 12px;
    margin: 15px;
    cursor: pointer;
    transition: 250ms;
}

button:hover{
    background-color: #0a323c;
}

.boton_editar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(237, 249, 67);
    border-radius: 8px;
    height: 32px;
    width: 90%;
    margin: 0 auto;
}   

.texto_boton {
    font-size: 13px;
}