* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* --------------------------header----------------------------------- */
.top {
    background-color: #18515F;
    height: 20%;
    width: 100vw;
}

.flex-top {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
    height: 60%;
    margin: 10px;
    margin-right: 1px;
}

.titulo-head {
    display: none;
    width: 15%;
    font-family: 'Amatic SC';
    font-size: 60px;
    color: white;
    margin-left: 0.1px;
    margin-top: 10px;
    
}

.logo-titulo-jun {
    display: none;
}

.barra {
    width: 28%;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.barra input[type="search"] {
    border-radius: 10px; 
    padding: 10px; 
    width: 200px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}


.mi-cuenta, .mis-compras {
    display: none;
}


.menu-top {
    display: block;
    text-align: right;
    margin-right: 40px;
    margin-top: 10px;

}

.carrito {
    display: block;
}

.logo-carrito-tablet {
    display: none;
}

.logo-carrito-mobile {
    display: block;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.carrito-text {
    display: none;
}

.header2 {
    display: none;
}
/* --------------------------header----------------------------------- */

/* --------------------------Main----------------------------------- */

/* --- imagen ---  */
.contenedor_mobile {
    margin: 12px auto;
    display: block;
    width: 90%;
}

.contenedor_imagen_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0px auto;

}
.imagen_producto_mobile{
    width: 80%;
}

/* --- detalles de producto ---  */
.detalle {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.titulo_nombre {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0px;
}

.precio {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.titulo_descripción {
    text-decoration: underline;
    text-decoration-color: rgb(156, 156, 156);
}

/* --- Botones ---  */

.boton_agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    padding: 10px;
    background-color: #1e697b;
    border-radius: 8px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
    border: 1px solid black;
}   

.boton_editar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(246, 246, 88);
    border-radius: 8px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
    border: 1px solid #88702c;
} 

.boton_eliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(190, 8, 8);
    border-radius: 8px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
    border: 1px solid black;
} 

 

.boton_agregar:hover{
    background-color: #349fba;
}

.boton_editar:hover{
    background-color: #cda840;
}

.boton_eliminar:hover{
    background-color: rgb(132, 11, 11);
}

.editar {
    color: black;
}

.texto_boton {
    font-size: 13px;
}

/* form {
    width: 90%;
} */

/* --- Reel productos ---  */
.section-productos-descuentos {
    width: 90%;
    margin: auto;
    padding-top: 3%;
    margin-top: -15px;
}

.div-section-productos-descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo-productos-descuentos {
    width: 40%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}


.contenedor_imagen {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    background-color: white;
    height: 140px;
   overflow: hidden;
}

.contenedor_imagen .img-productos-descuentos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_nombre_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.texto_descripcion_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}



/* --------------------------Main----------------------------------- */


/* --------------------------footer----------------------------------- */
footer {
    background-color: #18515F;
    display: flex;
}

.logo2 {
    width: 3%;
    height: 30%;
    padding: 60px;
    display: none;
}

.nosotros {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-perro {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.todo-gato {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.contacto {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.redes-sociales {
    color: white;
    text-align: justify;
    margin: auto;
    font-size: 12px;
}

.facebook-tablet, .twitter-tablet, .instagram-tablet {
    display: none;
}

.rrss-iconos {
    display: flex;
    justify-content: space-between;
}
/* --------------------------footer----------------------------------- */

@media (min-width: 768px) {

/* --------------------------header----------------------------------- */


.titulo-head {
    display: none;
    margin: auto;
}

.barra {
    margin-left: 50px;
    margin-right: 1px;
}

.barra input[type="search"] {
    width: 45vw; 
}

.opciones-top {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mis-compras {
    font-family: 'Roboto';
    display: none;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}

.mi-cuenta {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}

.carrito {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 60px;
    margin-left: 25px;
    margin-top: 20px;
    color: white;
}

.logo-carrito-tablet {
    display: block;
}

.logo-carrito-mobile {
    display: none;
}


/* --------------------------header----------------------------------- */

/* --------------------------Main----------------------------------- */





}

@media (min-width: 1024px) {
/* --------------- header ----------------------------------- */

/* .top {
    height: 15vh;
} */

.carrito-text {
    display: block;
}

.fa-bars {
    display: block;
}

.header2 {
    display: flex;
    height: 35px;
    background-color: #154551;
    border-top: 0.1px solid #154551;
    border-bottom: 0.1px solid #154551;
}

.header2-opciones {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}



.fa-circle-arrow-down {
    margin-left: 10px;
}

.flex-top {
    height: 10%;
}

.fa-bars {
    display: none;
}

.barra input[type="search"] {
    width: 35vw; 
    margin-left: 60px;
}

.carrito, .mis-compras, .mi-cuenta {
    display: block;
}

.logo-titulo-jun {
    display: block;
    margin-left: 30px;
}

.logo, .titulo-head {
    display: none;
}
/* --------------- header ----------------------------------- */

/* --------------- main ----------------------------------- */

.contenedor_imagen_mobile {
    width: 30%;
}

.boton_agregar{
    width: 70%;
}  

.boton_editar{
    width: 70%;
} 

.boton_eliminar{
    width: 70%;
} 

.titulo_nombre {
    font-weight: 500;
    font-size: 18px;
}

/* --------------- main ----------------------------------- */

/* --------------------------footer----------------------------------- */
.logo2 {
    display: block;
}
/* --------------------------footer----------------------------------- */
}

