* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* --------------------------Main----------------------------------- */

/* --- imagen ---  */
.contenedor_mobile {
    margin: 12px auto;
    display: block;
    width: 90%;
}

.contenedor_imagen_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0px auto;

}
.imagen_producto_mobile{
    width: 80%;
}

.ruta {
    color: black;
    transition: 450ms;
}

.ruta:hover {
    color: rgb(0, 0, 176);
}

/* --- detalles de producto ---  */
.detalle {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.titulo_nombre {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0px;
}

.precio {
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.titulo_descripción {
    text-decoration: underline;
    text-decoration-color: rgb(156, 156, 156);
}

/* --- Botones ---  */

.boton_agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    padding: 10px;
    background-color: #1e697b;
    border-radius: 8px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
    border: 1px solid black;
}   

.boton_editar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(77, 77, 77);
    font-size: 16px;
    padding: 10px;
    background-color: rgb(255, 255, 128);
    border-radius: 8px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
    border: 1px solid rgb(199, 199, 51);
} 

.boton_eliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    padding: 10px;
    background-color: #ff5555;
    border-radius: 8px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    transition: 350ms;
    border: 1px solid rgb(193, 0, 0);
} 

.boton_agregar:hover{
    background-color: #349fba;
}

.boton_editar:hover{
    background-color: yellow;
}

.boton_eliminar:hover{
    background-color: #ff0000;
}

.texto_boton {
    font-size: 13px;
}

/* form {
    width: 90%;
} */

/* --- Reel productos ---  */
.section-productos-descuentos {
    width: 90%;
    margin: auto;
    padding-top: 3%;
    margin-top: -15px;
}

.div-section-productos-descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo-productos-descuentos {
    width: 40%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}


.contenedor_imagen {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    background-color: white;
    height: 140px;
   overflow: hidden;
}

.contenedor_imagen .img-productos-descuentos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_nombre_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.texto_descripcion_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

@media (min-width: 768px) {


}

@media (min-width: 1024px) {

.contenedor_imagen_mobile {
    width: 30%;
}

.boton_agregar{
    width: 70%;
}  

.boton_editar{
    width: 70%;
} 

.boton_eliminar{
    width: 70%;
} 

.titulo_nombre {
    font-weight: 500;
    font-size: 18px;
}

}

