* body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/* --------------------------Main----------------------------------- */

/* carrusel */
.carrusel {
    width: 100%;
    max-width: 120em;
    margin-bottom: -25px;
    overflow: hidden;
    z-index: 0;
}

.grande {
    /* diseño */
    width: 200%;
    /* posicionamiento hijos*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    transition: all .5s ease;
    transform: translateX(0%);

}

.img-carrusel {
    width: calc(100% / 2);
    height: 100%;
    /* position: relative; */

}

.div-btns {
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
}

.uno {
    opacity: 0;
    width: 50%;
    text-align: start;
    margin: 0;
    padding: 0;
}

.dos {
    opacity: 0;
    width: 50%;
    text-align: end;
    margin: 0;
    padding: 0;
}

.btn-carrusel-der {
    /* diseño */
    opacity: 0;
    border-radius: 50%;
    border: none;
    background-color: #1e697b;
    margin-left: 2%;
    /* posicionamiento */
    /* position: relative;
    left: 2em;   */
    
}

.btn-carrusel-izq {
    /* diseño */
    opacity: 0;
    border-radius: 50%;
    border: none;
    background-color: #1e697b;
    margin-right: 2.1%;
    /* posicionamiento */
    /* position: relative;
    right: -122.7em; */
    
}

.puntos {
    /* diseño */
    display: none;
    width: 100%;
    position: relative;
    text-align: center;
    list-style-type: none;
    /* posicionamiento hijos*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.punto {
    /* diseño */
    width: 0.5em;
    height: 0.5em;
    margin: 0.2em;
    border-radius: 50%;
    background-color: #a1d6e3;
    border: 1px solid rgb(255, 255, 255);
}

.punto.activo {
    /* diseño */
    background-color: #18515F;
    border: 1px solid rgb(85, 81, 81);
}

.fa-solid.fa-angle-left {
    color: white;
    font-size: 150%;
}

.fa-solid.fa-angle-right {
    color: white;
    font-size: 150%;
}
/* hasta aca carrusel */

/* seccion servicios */
.section-servicios {
    width: 90%;
    margin: auto;
    display: none;
}

.div-section-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.articulo-servicio {
    width: 100%;
}

.img-servicio {
    width: 100%;
    text-align: center;
}

/* seccion botones perro/gato */
.section-filtro-perro-gato {
    width: 90%;
    margin: auto;
    padding-top: 4%;
}

.div-section-filtro-perro-gato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articulo-filtro-perro-gato {
    width: 100%;
}

.img-boton-izq {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.img-boton-der {
    width: 100%;
    border-radius: 10px;
}

.articulo-filtro-perro-gato {
    position: relative;
}

.div-h1-perro {
    color: rgb(240, 195, 83);
}

.div-h1-gato {
    color: #287d93;
}

.h1-1ra-linea {
    position: absolute;
    top: -15px;
    left: 15px;
    font-size: 25px;
    /* color: white; */
}

.h1-2da-linea {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 25px;
    /* color: white; */
}

/* seccion producto */
.section-productos-descuentos {
    width: 90%;
    margin: auto;
    padding-top: 3%;
    margin-top: -15px;
}

h2 {
    margin-bottom: 10px;
}

.div-section-productos-descuentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* card producto */
.articulo-productos-descuentos {
    width: 80%;
    height: auto;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor_imagen {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    background-color: white;
    height: 140px;
    overflow: hidden;
    width: 100%;
}

.div-card {
    width: 100%;
    padding: 0;
    margin: 0;

}

.img-productos-descuentos {
    margin: auto;
    width: auto;
}

.contenedor_imagen .img-productos-descuentos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto_nombre_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.texto_descripcion_arriba {
    max-height: 38px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.precio-d {
    padding: 0;
    margin: 0;
    font-weight: 600;
    width: 30%;
    font-size: 16px;
}

.precio {
    font-weight: 600;
    width: 30%;
    font-size: 16px;
}

.precio-tachado {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    text-decoration: line-through;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.descuento {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    color: #24768b;
    font-weight: 500;
    font-size: 14px;
    width: 60%;
    text-align: left;
    margin-left: 5px;
    
}

.div-precios {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.div-boton-comprar {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.boton-comprar {
    text-align: center;
    background-color: #1e697b;
    color: white;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding: 5px;
}

.etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
    font-weight: 500;
    font-size: 11px;
    padding: 4px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin: 0;
}

.etiqueta-comida-bicho-card {
    color: #5746d7;
    border: 1px solid #5746d7;
}

.etiqueta-accesorio-bicho-card {
    color: #29d5de;
    border: 1px solid #29d5de;
}

.etiqueta-higiene-bicho-card {
    color: #e8a62b;
    border: 1px solid #e8a62b;
}

.etiqueta-juguete-bicho-card {
    color: #9b46d7;
    border: 1px solid #9b46d7;
}
/* hasta aca card producto */

/* seccion banner */
.section-banner {
    width: 100%;
    margin: auto;
}

.div-banner {
    width: 100%;
    position: relative;
}

.img-banner {
    width: 100%;
}

.h2-banner-1ra-linea {
    position: absolute;
    top: 5px;
    left: 15px;
    color: white;
    font-size: 14px;
}

.h2-banner-2da-linea {
    position: absolute;
    top: 25px;
    left: 15px;
    color: white;
    font-size: 14px; 
}

/* seccion productos perro/gato quedó con la misma estructura de la card producto (mas arriba está)*/
/* .section-productos-perro {
    width: 90%;
    margin: auto;
}

.div-productos-perro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo-productos-perro {
    width: 40%;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.img-productos-perro {
    width: 90%;
    border-radius: 5px;
} */

.myBtn {
    display: none;
    opacity: 0;
}

footer {
    margin-top: -20px;
}

/* --------------------------Main----------------------------------- */

@media (min-width: 768px) {

    /* seccion servicios */
    .articulo-servicio {
        width: 30%;
        margin: 10px;
    }
    
    .section-servicios {
        display: none;
        background-color: rgb(224, 224, 224);
        margin-top: 10px;
        border-radius: 10px;
    }
    
    .img-servicio {
        border-radius: 8px;
    }
    
    .descripcion-servicio p {
        font-weight: 200;
        font-size: 14px;
        line-height: 22px;
    }
    
    .descripcion-servicio h3 {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: -5px;
    }

    /* seccion botones perro/gato */
    .articulo-filtro-perro-gato {
        width: 49%;
        margin-top: -15px;
    }
    
    /* seccion productos */
    .section-productos-descuentos {
        margin-top: -30px;
    }

    .div-section-productos-descuentos {
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 10px;
    }
    
    /* card producto */
    .articulo-productos-descuentos {
        width: 80%;
    }

    .etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
        font-size: 10px;
        width: 65%;
    }
    
    /* seccion banner */
    .h2-banner-1ra-linea {
        top: 5px;
        left: 20px;
        font-size: 27px;
    }
    
    .h2-banner-2da-linea {
        top: 40px;
        left: 20px;
        font-size: 27px; 
    }
    
    /* .puntos {
        display: none;
        top: -3em;
    }
    
    .carrusel {
        margin-bottom: -10px;
    } */

    .myBtn {
        display: none;
        opacity: 0;
    }

    footer {
        margin-top: -20px;
    }
}

@media (min-width: 993px){

    /* card producto */
    .articulo-productos-descuentos {
        width: 85%;
        height: auto;
    }

    .myBtn {
        display: none;
        opacity: 0;
    }

    footer {
        margin-top: -20px;
    }
}

@media (min-width: 1024px) {

    /* carrusel */
    .img-carrusel, .puntos {
        cursor: pointer;
    }
    
    .div-btns, .uno, .dos {
        opacity: 1;
        top: -8em
    }
    
    .btn-carrusel-der {
        opacity: 0;
        transition: 150ms;
        width: 3em;
        height: 3em;
    }
    
    .btn-carrusel-izq {
        opacity: 0;
        transition: 150ms;
        width: 3em;
        height: 3em;
    }
    
    .btn-carrusel-der {
        box-shadow : 0px 0px 20px rgb(189, 147, 38);
        transition: 200ms;
    }
    
    .btn-carrusel-izq {
        box-shadow : 0px 0px 20px rgb(189, 147, 38);
        transition: 200ms;
    }
    
    .btn-carrusel-der:hover {
        box-shadow : 0px 0px 20px rgb(145, 111, 24);
    }
    
    .btn-carrusel-izq:hover {
        box-shadow : 0px 0px 20px rgb(145, 111, 24);
    }
    
    .carrusel:hover {
        .btn-carrusel-der {
            opacity: 1;
        }
    
        .btn-carrusel-izq {
            opacity: 1;
        }
    }
    
    .carrusel {
        margin-bottom: -40px;
    }
    
    .puntos {
        display: flex;
        top: -4em;
    }
    /* hasta aca carrusel */


    /* seccion servicios */
    .section-servicios {
        display: block;
    }

    /* seccion botones perro/gato */
    .articulo-filtro-perro-gato {
        width: 49%;
    }
    
    .h1-1ra-linea {
        font-size: 30px;
        position: absolute;
        top: -20px;
        left: 15px;
        cursor: pointer;
    }
    
    .h1-2da-linea {
        font-size: 30px;
        cursor: pointer;
    }

    .img-boton-izq {
        cursor: pointer;
        transition: 400ms;
    }
    
    .img-boton-izq:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
        opacity: 0.6;
    }
    
    .img-boton-der {
        cursor: pointer;
        transition: 400ms;
    }
    
    .img-boton-der:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
        opacity: 0.6;
    }
    
    /* seccion banner */
    .h2-banner-1ra-linea {
        top: 15px;
        left: 20px;
        font-size: 30px;
    }
    
    .h2-banner-2da-linea {
        top: 60px;
        left: 20px;
        font-size: 30px; 
    }
    
    /* card producto */
    .articulo-productos-descuentos {
        width: 85%;
        transition: 450ms;
    }
    
    .articulo-productos-descuentos:hover {
        box-shadow : 0px 0px 20px rgb(140, 140, 140);
    }
    
    button {
        cursor: pointer;
    }
    
    .boton-comprar {
        transition: 450ms;
    }
    
    .boton-comprar:hover {
        background-color: #349fba;
    }
    
    h4 { /* producto.nombre */
        font-size: 14px;
    }
    
    .descripcion {
        font-size: 12px;
    }

    .etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
        font-size: 10.5px;
        padding: 4px;
        width: 67%;
    }
    
    .etiqueta-comida-bicho-card {
        color: white;
        border: 1px solid #5746d7;
        background-color: #5746d7;
    }
    
    .etiqueta-accesorio-bicho-card {
        color: white;
        border: 1px solid #29d5de;
        background-color: #29d5de;
    }
    
    .etiqueta-higiene-bicho-card {
        color: white;
        border: 1px solid #e8a62b;
        background-color: #e8a62b;
    }
    
    .etiqueta-juguete-bicho-card {
        color: white;
        border: 1px solid #9b46d7;
        background-color: #9b46d7;
    }

    .myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: #1e697b; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 50%; /* Rounded corners */
        font-size: 18px; /* Increase font size */
        width: 50px;
        height: 50px;
        opacity: 1;
    }
      
    .myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

    footer {
        margin-top: 0;
    }

}

@media (min-width: 1200px) {

    .section-servicios, .div-section-filtro-perro-gato, .section-productos-descuentos {
        max-width: 1200px;
        margin: auto;
    }
    
    .header2, .flex-top, .carrusel {
        max-width: 100%;
    }

    /* seccion servicios */
    .section-servicios {
        margin-top: 12px;
    }
    
    .articulo-servicio {
        width: 30%;
        margin: 10px;
    }
    
    /* seccion botones perro/gato */
    .articulo-filtro-perro-gato {
        width: 49%;
        margin-top: -15px;
        margin-bottom: -15px;
        transition: 450ms;
    }
    
    .h1-1ra-linea {
        font-size: 40px;
        position: absolute;
        top: -30px;
        left: 15px;
        cursor: pointer;
    }
    
    .h1-2da-linea {
        font-size: 40px;
        cursor: pointer;
    }

    /* seccion productos */
    .articulo-productos-descuentos {
        width: 80%;
    }
    
    h2 { /* titulos "Productos para perro/gato" */
        margin-top: -10px;
        margin-bottom: 15px;
    }
    
    button {
        cursor: pointer;
    }

    /* card producto */
    h4 { /* producto.nombre */
        font-size: 16px;
    }
    
    .descripcion {
        font-size: 14px;
    }
    
    .texto_nombre_arriba {
        max-height: 40px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
    .texto_descripcion_arriba {
        max-height: 50px; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .etiqueta-comida-bicho-card, .etiqueta-accesorio-bicho-card, .etiqueta-higiene-bicho-card, .etiqueta-juguete-bicho-card {
        font-size: 12px;
        padding: 5px;
        width: 68%;
    }

    /* seccion banner */
    .h2-banner-1ra-linea {
        top: 70px;
        left: 45px;
        font-size: 40px;
    }
    
    .h2-banner-2da-linea {
        top: 140px;
        left: 45px;
        font-size: 40px;
    }

}

