
/* <<<<<<< HEAD
======= */
a {
    text-decoration: none;
    color: white;
    transition: 250ms;
}

a:hover {
    color: #cdd4d6 ;
}

/* --- Estilos generales */

body {
    font-family:'Roboto';
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

h2{
    line-height: 28px;
    color: #18515F;
    text-align: center;
}

.editar-titulo {
    margin-top: 40px;
    line-height: 20px;
    color: #18515F;
    text-align: left;
}

hr {
    margin-top: 24px;
}

.contenedor {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ------------------------------------------------------------ */

 /* --- Loging (only) */

.logo {
    height: 40px;
    width: auto;
}

/* ------------------------------------------------------------ */


/* --- Imagen izquierda */
.tamano-imagen {
    display: none;
    width: 300px;
    height: auto;
    flex:1
}

/* ------------------------------------------------------------ */


/* --- Formulario derecha */

.titulo {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 8px;
}

.titulo-error {
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 8px;
    color: red;
}

.formulario {
    flex: 1;
    padding: 0px;
}

.centrado {
    width: 80%;
    margin: 0 auto;
}

form input {
    /* font-size: 16px; */
    border: 2px solid #B8D6BF ;
    border-radius: 8px;
    padding: 12px 16px ;
    /* height: 48px; */
    width: 100%;
}

/* input::placeholder {
    color: #18515F;
} */

.flex-enlinea {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-enlinea-imagen {
    margin-top: 12px;
    display: flex;
    align-items:flex-start;
    gap: 4;
}

/* --- error form input -- */

.input_error {
    border: 1px solid red;
    margin-bottom: 8px;
}

.input_error-front {
    border: 1px solid red;
    background-color: rgb(255, 236, 236);
}

.input_good-front {
    border: 1px solid green;
    background-color: rgb(232, 255, 232);
}

/* --- Inmput imagen -- */
.input_imagen {
    border-color: white;
}
.input_imagen:hover {
    border-color: white;
}

.imagen_actual {
    width: 60px;
    height: 60px;
}

/* --- Condiciones formulario */
form input:hover {
    border: 2px solid #00505F;
}

form input:focus {
    outline: none;
    border: 2px solid #00505F;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* form input[type="text"]:not(:placeholder-shown), input[type="password"]:not(:placeholder-shown), input[type="email"]:not(:placeholder-shown){
    border: 1px solid #4CAF50;
} */


/* ------------------------------------------------------------ */
 /* --- Labels de error */

 .error {
    color: red ;
    font-size: 16px;
    font-weight: 500;
 }

/* ------------------------------------------------------------ */
 /* --- Checkbox ---*/

 .flex-enlinea2 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
    border-radius: 12px;
}


input[type="checkbox"] + p {
margin-left: 12px;
}



input[type="checkbox"]:checked {
    background-color: #18515F;
}

 /* ------------------------------------------------------------ */


 /* --- button */
button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #18515F;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    margin: 16px 0px 16px 0px;
    cursor: pointer;
    }

button:hover {
    background-color: #216F83 ;
}

.btn-icon {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #18515F;
    background-color: white;
    border: 1px solid #18515F;
    cursor: pointer;
}

.btn-icon:hover, .btn-secundario:hover {
    background-color: #DEF2F7 ;
    border: 1px solid #ffffff;
}

.semibold {
    font-weight: 400;
    text-align: left;
}

.btn-secundario {
    margin-top: -2px;
    height: 48px;
    color: #18515F;
    background-color: white;
    border: 1px solid #18515F;
}

/* --- Login */
.tamano-icono {
    width: 28px;
    margin-left: 12px;
}


@media (min-width:769px){

    .tamano-imagen {
        display: block;
    }

    .btn-icon {
        width: 49%;
    }

    section.flex-enlinea {
        flex-direction: row;
        justify-content:flex-start   ;
        gap: 8px;
    }

    article.flex-enlinea {
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    }
}

@media (min-width: 1024px){

    form input {
        font-size: 14px;
    }
}


