body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* header {
    text-align: center;
    margin-bottom: 30px;
}
 */
h1 {
    color: #333;
    font-size: 37px;
}

.about-us p {
    line-height: 1.6;
    margin-bottom: 20px;
}
