<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "categoria", title: "Página Categoría"}) %>
<body>

    <%- include("./partials/header.ejs") %>

    <%- include("./partials/header2.ejs") %>
    
    <main>
        <p>prueba</p>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>