<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8684e76fee.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="top">
        <img src="" alt="logoB" class="logo"> 
        <p class="titulo-head">PATITAS</p>
        <p class="busqueda">BARRA DE BUSQUEDA</p>
        <div class="mis-compras">
            <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
            <p>Mis compras</p>
        </div>
        <div class="mi-cuenta">
            
            <a href="./register">
                <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
                <p>Mi cuenta</p>
            </a>
        </div>
        <div class="carrito">
            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
            <p>Carrito</p>
        </div>
    </header>




    <main>
    <section class="contenedor">
        <section class="producto">
<div class="nombre-vendedor"> <h1>Eukanuba</h1>
</div>
<section class="produyprecio">
<div class="fotoprod">
    <img src="shopping.jfif" alt="Comida para perro">
<h3> comida premiun Eukanuba 15kg</h3>
<div class="opciones">
<ul>
    <li><a href="">Eliminar</a></li>
    <li><a href="">Guardar</a></li>
    <li><a href="">Comprar ahora</a></li>
</ul>
</div>
<h1>$10.000</h1>
</div>
</section>
<div class="envio">
<p>Envio</p>
 <h2 class="precioenvio">Gratis</h2>

</div>
        </section>
         <section class="resumencompra">
            <div class="resumen-de-compras"> 
                <h1>Resumen de compra</h1>
            </div>
            <div class="precio-producto">
                <p>Producto</p>
                <h3>$10.000</h3>
            </div>
            <div class="precio">
                <p>Envio</p>
                <h3>Gratis</h3>
            </div>
<div class="total">
    <h3>Total</h3>
    <h3>$10.000</h3>
    </div>
    <button class="rounded-button" onClick={handleClick}>Continuar compra</button>
         </section>
        </section>

      
        
    </main>





        <footer>
            <img src="/img/header/logoB.png" alt="logoB2" class="logo2"> 
            <div class="nosotros">
                <h4>Nosotros</h4>
                <p>Sobre Patitas</p>
            </div>
            <div class="todo-perro">
                <h4>Todo para tu perro</h4>
                <p>Ver productos</p>
            </div>
            <div class="todo-gato">
                <h4>Todo para tu gato</h4>
                <p>Ver productos</p>
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <p>Atención telefónica:
                    0811-2345-7890</p>
                <p>Atención por WhatsApp:
                    +54-9-1141965543</p>
                <p>Lunes a sábado de 9 a 21hs
                    Domingos de 10 a 20hs</p>
            </div>
            <div class="redes-sociales">
                <h4>Redes sociales</h4>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Twitter</p>
            </div>
        </footer>
    
</body>
</html>