<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head.ejs", {cssSheet: "carrito", title: "Carrito de compras"}) %>
<body>

    <%- include("./partials/header.ejs") %>

    <%- include("./partials/header2.ejs") %>

<main>
    <section class="contenedor">
        <section class="producto">
                <div class="nombre-vendedor"> <h1>Eukanuba</h1>
                </div>
        <section class="produyprecio">
            <div class="fotoprod">
                <img src="\img\Producto.webp" alt="Comida para perro" class="foto-producto">
                <div class="nombreopciones">
                   
                        <h3> comida premiun Eukanuba 15kg</h3>
                        <ul>
                            <li><a href="">Eliminar</a></li>
                            <li><a href="">Guardar</a></li>
                            <li><a href="">Comprar ahora</a></li>
                        </ul>
                    
                </div> 
            
            <h1>$10.000</h1>
        </div>
        </section>
        <div class="envio">
     <p>Envio</p>
        <h2 class="precioenvio">Gratis</h2>

        </div>
        </section>
         <section class="resumencompra">
            <div class="resumen-de-compras"> 
                <h1>Resumen de compra</h1>
            </div>
            <div class="precio-producto">
                <p>Producto</p>
                <h3>$10.000</h3>
            </div>
            <div class="precio">
                <p>Envio</p>
                <h3>Gratis</h3>
            </div>
        <div class="total">
        <h3>Total</h3>
        <h3>$10.000</h3>
        </div>
        <button class="rounded-button" onClick={handleClick}>Continuar compra</button>
         </section>
    </section>
        <div class="Recomendados">
            <h2>Productos que te interesaron</h2>
                        </div>
        <section class="section-productos-descuentos">
           
        <article class="articulo-productos-descuentos">
            <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
            <div class="descripcion-productos-descuentos">
                <h4>Alimento/Producto</h4>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                <p class="precio-tachado">$10.000</p>
                <p class="descuento">20% off</p>
                <p id="precio">$10.000</p>
                <div class="div-boton-comprar">
                    <button class="boton-comprar" type="submit">Agregar</button>
                </div>
            </div>
        </article>

        <article class="articulo-productos-descuentos">
            <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
            <div class="descripcion-productos-descuentos">
                <h4>Alimento/Producto</h4>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                <p class="precio-tachado">$10.000</p>
                <p class="descuento">20% off</p>
                <p id="precio">$10.000</p>
                <div class="div-boton-comprar">
                    <button class="boton-comprar" type="submit">Agregar</button>
                </div>
            </div>
        </article>

        <article class="articulo-productos-descuentos">
            <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
            <div class="descripcion-productos-descuentos">
                <h4>Alimento/Producto</h4>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                <p class="precio-tachado">$10.000</p>
                <p class="descuento">20% off</p>
                <p id="precio">$10.000</p>
                <div class="div-boton-comprar">
                    <button class="boton-comprar" type="submit">Agregar</button>
                </div>
            </div>
        </article>
    </div>
        
    </main>

    <%- include("./partials/footer.ejs") %>
    
</body>
</html>