<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/detalles-del-producto.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del producto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/94c7027fe5.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="top">
        <img src="/img/header/logoB.png" alt="logoB" class="logo"> 
        <p class="titulo-head">PATITAS</p>
        <p class="busqueda">BARRA DE BUSQUEDA</p>
        <div class="mis-compras">
            <p>icono</p>
            <p>Mis compras</p>
        </div>
        <div class="mi-cuenta">
            <p>icono</p>
            <a href="./register">Mi cuenta</a>
        </div>
        <div class="carrito">
            <p>icono</p>
            <p>Carrito</p>
        </div>
    </header>
    
    <main>
        <p>Acá / va / la / ruta</p>

    <div class="producto">
        <div class="angulos-del-producto">
            <img src="/img/Producto.webp" alt="Producto Comida" class="angulo-producto">
            <img src="/img/Producto.webp" alt="Producto Comida" class="angulo-producto">
            <img src="/img/Producto.webp" alt="Producto Comida" class="angulo-producto">
        </div>
        
        <div class="img-grande-producto">
            <img src="/img/Producto.webp" alt="Producto Comida" class="producto-grande">
        </div>

        <div class="detalles">
            <p class="nombre">Comida para perros Eukanuba</p>
            <p class="precio">$30.000</p>
            <div class="icono">
                
                <p class="envio">Envío <br>
                    <i class="fa-solid fa-truck"></i>
                </p>
                <p class="envio">Express <br>
                    <i class="fa-solid fa-truck-fast"></i>
                </p>
                <p class="envio">Retiro <br>
                    <i class="fa-solid fa-car-side"></i>
                </p>

            </div>

            <select name="peso-tamaño">
                <option value="valor">Seleccionar peso/tamaño</option>
                <option value="valor">Value 1</option>
                <option value="valor2">Value 2</option>
                <option value="valor3">Value 3</option>
              </select>
                        
            <select name="cantidad">
                <option value="valor">Seleccionar cantidad</option>
                <option value="valor">Value 1</option>
                <option value="valor2">Value 2</option>
                <option value="valor3">Value 3</option>
              </select>

            <button>Agregar al carrito</button>
        </div>
        
    </div>

    </main>

    <footer>
        <img src="/img/header/logoB.png" alt="logoB2" class="logo2"> 
        <div class="nosotros">
            <h4>Nosotros</h4>
            <p>Sobre Patitas</p>
        </div>
        <div class="todo-perro">
            <h4>Todo para tu perro</h4>
            <p>Ver productos</p>
        </div>
        <div class="todo-gato">
            <h4>Todo para tu gato</h4>
            <p>Ver productos</p>
        </div>
        <div class="contacto">
            <h4>Contacto</h4>
            <p>Atención telefónica:
                0811-2345-7890</p>
            <p>Atención por WhatsApp:
                +54-9-1141965543</p>
            <p>Lunes a sábado de 9 a 21hs
                Domingos de 10 a 20hs</p>
        </div>
        <div class="redes-sociales">
            <h4>Redes sociales</h4>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
    </footer>

</body>
</html>