<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "index_styles", title: "Alta producto"}) %>
<link rel="stylesheet" href="/css/alta-editar-producto.css">
<body>

<%- include("./partials/header.ejs") %>    
<%- include("./partials/header2.ejs") %>
<main>
    <h3>Carga tus productos</h3>
    <article class="contenedor-alta">
        <form action="/?" method="POST">

            <section class="flex-linea">
                <div class="flex-columna">
                    <label for="nombre_producto">Nombre del producto</label>
                    <input type="text" id="nombre_producto" name="nombre_producto" placeholder="Ej: Dog chow para perros pequeños" value="TRAER PRODUCTO">
                </div>

                <div class="flex-columna">
                    <label for="precio_producto">Precio del producto</label>
                    <input type="number" id="precio_producto" name="precio_producto" placeholder="Ej: 50000" value="TRAER PRODUCTO">
                </div>
               
            </section>

            <section class="flex-linea">
                <div class="flex-columna">
                    <label for="cantidad_producto">Cantidad</label>
                    <input type="number" id="cantidad_producto" name="cantidad_producto" placeholder="Ej: 2" value="TRAER PRODUCTO">
                </div>
                <div class="flex-columna">
                    <label for="mascota">El productos es para:</label>
                    <select name="mascota" id="mascota">
                        <option value="">Selecciona la mascota</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gatp</option>
                    </select>
                </div>
            </section>

            <section class="flex-linea">
                <div class="flex-columna">    
                 <label for="categoria">Selecciona una categoria:</label>
                <select name="categoria" id="categoria">
                    <option value="">Selecciona una categoría</option>
                    <option value="alimento">Alimento</option>
                    <option value="juguetes">Juguetes</option>
                    <option value="accesorios">Accesorios</option>
                    <option value="higiene">higiene</option>
                </select>
                </div>
                <div class="flex-columna">
                    <!-- Seguramente debamos incorporar una condición según la categoría
                    selecciona porque cada producto tiene sus propias características-->
                    <label for="peso_producto">Ingresa el peso</label>
                    <input type="number" id="peso_producto" name="peso_producto" placeholder="Ej: 34" value="TRAER PRODUCTO">
                        </div>

            </section>
            
            

            <label for="color_producto">Ingrese el color</label>
            <input type="text" id="color_producto" name="peso_producto" placeholder=" Ej: Negro" value="TRAER PRODUCTO">

            <label for="descripcion">Descripción del producto</label>
            <textarea name="descripcion" id="descripcion" placeholder="Ingresa la información que describa lo mejor posible el producto"></textarea>
            
            <button type="submit">Guardar producto</button>
        </form>

    </article>
    
</main>

<%- include("./partials/footer.ejs") %>
</body>
</html>