<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8684e76fee.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="top">
        <img src="/img/header/logoB.png" alt="logoB" class="logo"> 
        <p class="titulo-head">PATITAS</p>
        <p class="busqueda">BARRA DE BUSQUEDA</p>
        <div class="mis-compras">
            <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
            <p>Mis compras</p>
        </div>
        <div class="mi-cuenta">
            
            <a href="./register">
                <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
                <p>Mi cuenta</p>
            </a>
        </div>
        <div class="carrito">
            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
            <p>Carrito</p>
        </div>
    </header>

    <main>
        <p>prueba, elimina esto rodri, lo pongo para ver como queda
            Las mascotas, esos seres peludos, escamosos o emplumados que comparten nuestras vidas, desempeñan un papel crucial en la sociedad contemporánea. Más allá de ser compañeros leales, estos seres traen consigo una serie de beneficios tangibles e intangibles que impactan positivamente a nivel individual y colectivo.

En primer lugar, la relación entre humanos y mascotas va más allá de lo anecdótico. Estudios científicos han demostrado que la presencia de mascotas puede tener efectos beneficiosos en la salud física y mental de las personas. La interacción con animales puede reducir el estrés, la presión arterial y la sensación de soledad. Además, la responsabilidad de cuidar de una mascota fomenta la actividad física y la rutina diaria, contribuyendo así a un estilo de vida más saludable.

En el ámbito emocional, las mascotas aportan un amor incondicional que trasciende las barreras del lenguaje. Su lealtad y conexión emocional con los humanos son poderosos, brindando consuelo en momentos difíciles y compartiendo alegrías en los momentos felices. La presencia de una mascota puede actuar como un bálsamo emocional, reduciendo la ansiedad y proporcionando un sentido de propósito y conexión.

Además, en la sociedad moderna, las mascotas han adquirido roles significativos. Son utilizadas en terapias asistidas con animales, ayudando en la rehabilitación física y emocional de personas con diversas condiciones de salud. Asimismo, perros y gatos son empleados como animales de servicio para personas con discapacidades, proporcionando asistencia y apoyo emocional a aquellos que lo necesitan.

Desde el punto de vista social, las mascotas fomentan la interacción entre personas. Pasear a un perro, por ejemplo, no solo es beneficioso para la salud física, sino que también actúa como un catalizador para establecer nuevas conexiones con otros dueños de mascotas y miembros de la comunidad. Las mascotas se convierten en un puente que une a las personas, generando un sentido de comunidad y pertenencia.

A nivel ambiental, la responsabilidad de cuidar de una mascota impulsa a las personas a reflexionar sobre la importancia del bienestar animal y la sostenibilidad. La adopción y la tenencia responsable de mascotas contribuyen a reducir la población de animales sin hogar y promueven prácticas éticas en la cría y venta de animales domésticos.

En conclusión, las mascotas desempeñan un papel vital en la sociedad contemporánea, afectando positivamente a la salud física y mental, proporcionando compañía y amor incondicional, y contribuyendo a la formación de comunidades más conectadas. Su presencia en nuestros hogares no solo enriquece nuestras vidas individualmente, sino que también teje un tapiz de beneficios que se extiende a toda la sociedad. En este mundo agitado y a menudo desconectado, las mascotas sirven como recordatorio constante de la importancia de la empatía, el cuidado y el amor compartido.
        </p>

    </main>

    <footer>
        <img src="/img/header/logoB.png" alt="logoB2" class="logo2"> 
        <div class="nosotros">
            <h4>Nosotros</h4>
            <p>Sobre Patitas</p>
        </div>
        <div class="todo-perro">
            <h4>Todo para tu perro</h4>
            <p>Ver productos</p>
        </div>
        <div class="todo-gato">
            <h4>Todo para tu gato</h4>
            <p>Ver productos</p>
        </div>
        <div class="contacto">
            <h4>Contacto</h4>
            <p>Atención telefónica:
                0811-2345-7890</p>
            <p>Atención por WhatsApp:
                +54-9-1141965543</p>
            <p>Lunes a sábado de 9 a 21hs
                Domingos de 10 a 20hs</p>
        </div>
        <div class="redes-sociales">
            <h4>Redes sociales</h4>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
    </footer>
</body>
</html>