<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - PATITAS</title>
    <script src="https://kit.fontawesome.com/5ca03c839c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index_styles.css">
</head>
<body>
    <header>
        <header class="top">
            <img src="/img/header/logoB.png" alt="logoB" class="logo"> 
            <p class="titulo-head">PATITAS</p>
            <form action="" method="POST">
                <div class="busqueda"><label for="">
                    <input type="text" id="busqueda" name="busqueda" placeholder="Buscar...">
                    <input type="submit" value="¡Vamos!"><span class="icono">🔍</span>
                </label></div>
            </form>
            <div class="mis-compras">
                <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                <p>Mis compras</p>
            </div>
            <div class="mi-cuenta">
                
                <a href="./register">
                    <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
                    <p>Mi cuenta</p>
                </a>
            </div>
            <div class="carrito">
                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                <p>Carrito</p>
            </div>
            <div class="menu">
                <i class="fa-solid fa-ellipsis-vertical fa-2xl" style="color: #ffffff;"></i>
            </div>
        </header>
    </header>

    <main>
        <section class="section-carrusel">
            
            <img class="img-carrusel1" src="\img\Imagen_carrusel.png" alt="Imagen_carrusel">
            
        </section>

        <section class="section-servicios">
            <div class="div-section-servicios">
                <article class="articulo-servicio">
                    <img class="img-servicio" src="\img\Imagen_home1.jpg" alt="Imagen_home1">
                    <div class="descripcion-servicio">
                        <h3>Alta calidad, precios bajos</h3>
                        <p>Mantén a tu mascota feliz y saludable con excelentes precios en los mejores productos</p>
                    </div>
                </article>

                <article class="articulo-servicio">
                    <img class="img-servicio" src="\img\Imagen_home2.jpg" alt="Imagen_home2">
                    <div class="descripcion-servicio">
                        <h3>Devoluciones sin problemas</h3>
                        <p>Tu mascota no tiene que esperar. Reciba todo directamente en su puerta con una entrega rápida de 1 a 3 días</p>
                    </div>
                </article>

                <article class="articulo-servicio">
                    <img class="img-servicio" src="\img\Imagen_home3.jpg" alt="Imagen_home3">
                    <div class="descripcion-servicio">
                        <h3>Soporte 24hs al día</h3>
                        <p>Tienes preguntas? Estamos las 24hs, los 7 días de la semana. Nuestros expertos están a solo una llamada, un correo electrónico o a un chat de distancia</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="section-filtro-perro-gato">
            <div class="div-section-filtro-perro-gato">
                <article class="articulo-filtro-perro-gato">
                    <a href="#"><img class="img-boton-izq" src="\img\Captura-de-pantalla-2022-02-02-a-las-13.49.23_resultado-scaled.jpg" alt="perro_boton"></a>
                    <a href="#"><h1>Comprar para perro</h1></a>
                </article>

                <article class="articulo-filtro-perro-gato">
                    <a href="#"><img class="img-boton-der" src="\img\gatito-regalos-para-gatos-1613566520.jpg" alt="gato_boton"></a>
                    <a href="#"><h1>Comprar para gato</h1></a>
                </article>
            </div>
            
        </section>

        <section class="section-productos-descuentos">
            <h2>Productos con descuentos</h2>
            <div class="div-section-productos-descuentos">
                <article class="articulo-productos-descuentos">
                    <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
                    <div class="descripcion-productos-descuentos">
                        <h4>Alimento/Producto</h4>
                        <p>Descripcion producto</p>
                        <p>Precio producto</p>
                        <p>Descuento producto</p>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="articulo-productos-descuentos">
                    <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
                    <div class="descripcion-productos-descuentos">
                        <h4>Alimento/Producto</h4>
                        <p>Descripcion producto</p>
                        <p>Precio producto</p>
                        <p>Descuento producto</p>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="articulo-productos-descuentos">
                    <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
                    <div class="descripcion-productos-descuentos">
                        <h4>Alimento/Producto</h4>
                        <p>Descripcion producto</p>
                        <p>Precio producto</p>
                        <p>Descuento producto</p>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="articulo-productos-descuentos">
                    <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
                    <div class="descripcion-productos-descuentos">
                        <h4>Alimento/Producto</h4>
                        <p>Descripcion producto</p>
                        <p>Precio producto</p>
                        <p>Descuento producto</p>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="articulo-productos-descuentos">
                    <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
                    <div class="descripcion-productos-descuentos">
                        <h4>Alimento/Producto</h4>
                        <p>Descripcion producto</p>
                        <p>Precio producto</p>
                        <p>Descuento producto</p>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

                <article class="articulo-productos-descuentos">
                    <img class="img-productos-descuentos" src="\img\Producto.webp" alt="imagen_producto">
                    <div class="descripcion-productos-descuentos">
                        <h4>Alimento/Producto</h4>
                        <p>Descripcion producto</p>
                        <p>Precio producto</p>
                        <p>Descuento producto</p>
                        <button type="submit">Comprar</button>
                    </div>
                </article>

            </div>
        </section>




    </main>

    <footer>
        <footer>
            <img src="/img/header/logoB.png" alt="logoB2" class="logo2"> 
            <div class="nosotros">
                <h4>Nosotros</h4>
                <p>Sobre Patitas</p>
            </div>
            <div class="todo-perro">
                <h4>Todo para tu perro</h4>
                <p>Ver productos</p>
            </div>
            <div class="todo-gato">
                <h4>Todo para tu gato</h4>
                <p>Ver productos</p>
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <p>Atención telefónica:
                    0811-2345-7890</p>
                <p>Atención por WhatsApp:
                    +54-9-1141965543</p>
                <p>Lunes a sábado de 9 a 21hs
                    Domingos de 10 a 20hs</p>
            </div>
            <div class="redes-sociales">
                <h4 class="rrss">Redes sociales</h4>
                <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>
                <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>
                <i class="fa-brands fa-x-twitter fa-2xl" style="color: #ffffff;"></i>
            </div>
        </footer>
    </footer>



    
</body>
</html>