<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registerLogin_style.css">
    <meta name="viewport" content="width=device-wid th, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5ca03c839c.js" crossorigin="anonymous"></script>
    <title>Página login</title>
</head>
<body>
<header>
    <header class="top">
        <div class="flex-top">
           <div class="logo-titulo-jun">
               <img src="/img/header/LogoHeadBF2.png" alt="logo-titulo">
           </div>
           <!-- <div class="logo-titulo-sep"> -->
               <img src="/img/header/logoB.png" alt="logoB" class="logo"> 
               <p class="titulo-head">PATITAS</p>
           <!-- </div> -->
           <form action="" method="POST">
           <div class="barra-busqueda">
               <div class="barra">
                   <input type="search" placeholder="Buscar producto ">
                   <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                </div>
               </div>
           </form>
           <div class="opciones-top">
            <div class="mis-compras">
                <a href="./login">
                 <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                <p>Mis compras</p>
                 </a>
             </div>
            <div class="mi-cuenta">
            
            <a href="./register">
                <i class="fa-solid fa-circle-user" style="color: #ffffff;"></i>
                <p>Mi cuenta</p>
            </a>
            </div>
            <div class="carrito">
                <a href="./carrito">  
                 <div class="logo-carrito-tablet"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></div>
                 <div class="logo-carrito-mobile"><i class="fa-solid fa-cart-shopping fa-2xl" style="color: #ffffff;"></i></div>
                 <p class="carrito-text">Carrito</p>
                 </a>
                </div>
            </div>
            <div class="menu-top">
                <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
            </div>
       </div>
    </header>
    
    <div class="header2">
       <div class="header2-opciones">
           <div class="header2-perro"><p>Perro<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></p></div>
           <div class="header2-gato"><p>Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div>
           <div class="header2-marcas"><p>Marcas<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div>
           <div class="header2-promociones"><p>Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div>
       </div>
    </div>
</header>
<main>
    <article class="contenedor">
        <!--Imagen hardcodeada-->
            <img src="/img/Imagen_login.png" alt="Imagen de perro y gato" class="tamano-imagen">
        <!--Registro-->
        <form class="formulario">
            <div class="centrado">
            <!--Logo + texto-->
            <article class="flex-enlinea">
                <img src="/img/header/logoV.png" alt="Logo" class="logo">
                <h2> Bienvenido/a a Patitas</h2>
            </article>

            <!--Input email-->
            <p class="titulo">Email</p>
            <input type="email" name="email" id="email" placeholder="Ingresa tu mail para el registro" class="input1">
            <label for="email" class="error">El email ingresado no es válido</label>

            <!--Input contraseña-->
            <p class="titulo">Contraseña</p>
            <input type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="input1">
            <label for="password" class="error">La contraseña ingresada debe tener mas de 8 caracteres</label>

            <!--Recuerdame -->
            <section class="flex-enlinea2">
                <input type="checkbox" name="checkbox" id="recuerdame">
                <p>Recuerdame</p>
            </section>

            <a href="">¿Olvidaste la contraseña?</a>

            <button type="submit">Iniciar sesión</button>
            <hr>

            <section class="flex-enlinea">
                <button class="btn-icon"> Ingresar con  <img src="/img/Iconos/Google.png" class="tamano-icono"/></button>
                <button class="btn-icon"> Ingresar con  <img src="/img/Iconos/Facebook.png" class="tamano-icono"/></button>
            </section>

            <hr>

            <button class="btn-secundario">Regístrate</button>
        </div>
        </form>  
    </article>

</main> 

<footer>
    <img src="/img/header/logoB.png" alt="logoB2" class="logo2"> 
    <div class="nosotros">
        <h4>Nosotros</h4>
        <p>Sobre Patitas</p>
    </div>
    <div class="todo-perro">
        <h4>Todo para tu perro</h4>
        <p>Ver productos</p>
    </div>
    <div class="todo-gato">
        <h4>Todo para tu gato</h4>
        <p>Ver productos</p>
    </div>
    <div class="contacto">
        <h4>Contacto</h4>
        <p>Atención telefónica:
            0811-2345-7890</p>
        <p>Atención por WhatsApp:
            +54-9-1141965543</p>
        <p>Lunes a sábado de 9 a 21hs
            Domingos de 10 a 20hs</p>
    </div>
    <div class="redes-sociales">
        <h4>Redes sociales</h4>
        <div class="rrss-iconos">
            <div class="facebook-tablet"><i class="fa-brands fa-facebook fa-2xl"></i></div>
            <div class="facebook-mobile"><i class="fa-brands fa-facebook fa-xl"></i></div>
            <div class="twitter-tablet"><i class="fa-brands fa-x-twitter fa-2xl"></i></div>
            <div class="twitter-mobile"><i class="fa-brands fa-x-twitter fa-xl"></i></div>
            <div class="instagram-tablet"><i class="fa-brands fa-instagram fa-2xl"></i></div>
            <div class="instagram-mobile"><i class="fa-brands fa-instagram fa-xl"></i></div>
        </div>  
    </div>
</footer>
    
</body>
</html>