<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registerLogin_style.css">
    <meta name="viewport" content="width=device-wid th, initial-scale=1.0">
    <title>Página login</title>
</head>
<body>
<header>
    <p>Acá va el header</p>
</header>
<main>
    <article class="contenedor">
        <!--Imagen hardcodeada-->
        <img src="/img/Imagen_login.png" alt="Imagen de perro y gato" class="tamano-imagen">

         <!--Registro-->
         <form action="formulario">
            <div class="centrado"></div>
            <!--Logo + texto-->
         <section class="flex-enlinea">
            <img src="/img/header/logoV.png" alt="Logo" class="logo">
             <h2> Bienvenido/a a Patitas</h2>
        </section>

        <!--Input email-->
        <p class="titulo">Email</p>
        <input type="email" name="email" id="email" placeholder="Ingresa tu mail para el registro" class="input1">
        <label for="email" class="error">El email ingresado no es válido</label>

        <!--Input contraseña-->
        <p class="titulo">Contraseña</p>
        <input type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="input1">
        <label for="password" class="error">La contraseña ingresada debe tener mas de 8 caracteres</label>

         <!--Recuerdame -->
        <section class="flex-enlinea">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAU1JREFUaEPtmEFKA0EQRV+OIEHRIJ7BpXfJIosI3ikEceFRdO3GG2gCIcQrKA0TiIJUVdd0QsjvzSy6+nX9/3tmoAcc+Rgcef9IwKETVAJKIOmAjlDSwPTyk0vgEpgDd8Awbd9vwAZ4Be6BtZcdSaA0/waUZ8vxAdwCX55NIgKegbEH2kPNDHjwcCIClsCVB9pDTUnhxsOJCPj+A4ys9fRSxY80UbWBp/OupoovAQGHrVIl0MQhC7ozrwQss6ocsqBKoLVDrfn6DwQctkqr3jElYNkamFcClllVDllQ/QdaO9Sar69QwGGrtOodiySwAEZWFz3Nl72uPayIgCdg4oH2UPMITD2ciIBz4B248IATNZ/dxVa5qTNHRECBlSO0vVo8M+mxgtLwS3ehtfIujQrwcvdWJwF7s/qfjZSAEkg6oCOUNDC9XAmkLUwCfgD5WD4xRQBXdAAAAABJRU5ErkJggg=="/>
            <p>Recuerdame</p>
        </section>

        <a href="">¿Olvidaste la contraseña?</a>

        <button type="submit">Iniciar sesión</button>
        <hr>

        <section class="flex-enlinea">
            <button class="btn-icon"> Ingresar con  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAU1JREFUaEPtmEFKA0EQRV+OIEHRIJ7BpXfJIosI3ikEceFRdO3GG2gCIcQrKA0TiIJUVdd0QsjvzSy6+nX9/3tmoAcc+Rgcef9IwKETVAJKIOmAjlDSwPTyk0vgEpgDd8Awbd9vwAZ4Be6BtZcdSaA0/waUZ8vxAdwCX55NIgKegbEH2kPNDHjwcCIClsCVB9pDTUnhxsOJCPj+A4ys9fRSxY80UbWBp/OupoovAQGHrVIl0MQhC7ozrwQss6ocsqBKoLVDrfn6DwQctkqr3jElYNkamFcClllVDllQ/QdaO9Sar69QwGGrtOodiySwAEZWFz3Nl72uPayIgCdg4oH2UPMITD2ciIBz4B248IATNZ/dxVa5qTNHRECBlSO0vVo8M+mxgtLwS3ehtfIujQrwcvdWJwF7s/qfjZSAEkg6oCOUNDC9XAmkLUwCfgD5WD4xRQBXdAAAAABJRU5ErkJggg=="/></button>
            <button class="btn-icon"> Ingresar con  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAU1JREFUaEPtmEFKA0EQRV+OIEHRIJ7BpXfJIosI3ikEceFRdO3GG2gCIcQrKA0TiIJUVdd0QsjvzSy6+nX9/3tmoAcc+Rgcef9IwKETVAJKIOmAjlDSwPTyk0vgEpgDd8Awbd9vwAZ4Be6BtZcdSaA0/waUZ8vxAdwCX55NIgKegbEH2kPNDHjwcCIClsCVB9pDTUnhxsOJCPj+A4ys9fRSxY80UbWBp/OupoovAQGHrVIl0MQhC7ozrwQss6ocsqBKoLVDrfn6DwQctkqr3jElYNkamFcClllVDllQ/QdaO9Sar69QwGGrtOodiySwAEZWFz3Nl72uPayIgCdg4oH2UPMITD2ciIBz4B248IATNZ/dxVa5qTNHRECBlSO0vVo8M+mxgtLwS3ehtfIujQrwcvdWJwF7s/qfjZSAEkg6oCOUNDC9XAmkLUwCfgD5WD4xRQBXdAAAAABJRU5ErkJggg=="/></button>
        </section>

        <hr>

        <button class="btn-secundario">Regístrate</button>
        
    </form>  
    </article>

</main> 

<footer>
    <p>Acá va el footer</p>
</footer>
    
</body>
</html>