<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/register_style.css">
    <meta name="viewport" content="width=device-wid th, initial-scale=1.0">
    <title>Página de registro</title>
</head>
<body>
    <header>
        <p>ACÁ VA EL HEADER</p>
    </header>

    <main>
        
        <article class="contenedor">
            <!--Imagen hardcodeada-->
                <img src="/img/Imagen_register.png" alt="" class="tamano-imagen">
            <!--Registro-->
            <section class="formulario">
                <div class="centrado">
                    <h2>Crea tu cuenta Patitas</h2>
                    
                    <!--Input nombre y apellido-->
                    <p class="titulo">Nombre completo</p>
                    <input type="text" placeholder="Ingresa tu nombre y apellido" class="input1">
                    
                    <!--Input email-->
                    <p class="titulo">Email</p>
                    <input type="email" placeholder="Ingresa tu mail para el registro" class="input1">

                    <!--Input contraseña-->
                    <p class="titulo">Contraseña</p>
                    <input type="password" placeholder="Ingresa una contraseña" class="input1">

                     <!--Input -->
                    <p class="titulo">Reingresar contraseña</p>
                    <input type="password" placeholder="Reingresa la contraseña" class="input1">

                    <section class="enlinea">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAU1JREFUaEPtmEFKA0EQRV+OIEHRIJ7BpXfJIosI3ikEceFRdO3GG2gCIcQrKA0TiIJUVdd0QsjvzSy6+nX9/3tmoAcc+Rgcef9IwKETVAJKIOmAjlDSwPTyk0vgEpgDd8Awbd9vwAZ4Be6BtZcdSaA0/waUZ8vxAdwCX55NIgKegbEH2kPNDHjwcCIClsCVB9pDTUnhxsOJCPj+A4ys9fRSxY80UbWBp/OupoovAQGHrVIl0MQhC7ozrwQss6ocsqBKoLVDrfn6DwQctkqr3jElYNkamFcClllVDllQ/QdaO9Sar69QwGGrtOodiySwAEZWFz3Nl72uPayIgCdg4oH2UPMITD2ciIBz4B248IATNZ/dxVa5qTNHRECBlSO0vVo8M+mxgtLwS3ehtfIujQrwcvdWJwF7s/qfjZSAEkg6oCOUNDC9XAmkLUwCfgD5WD4xRQBXdAAAAABJRU5ErkJggg=="/>
                        <p>Acepto &nbsp; </p> <a href=""> Términos y condiciones</a>

                    </section>
                    
                    <button>Crear cuenta</button>


                </div>
            </section>
        </article>

    </main>

    <footer>
        <p>ACÁ VA EL FOOTER</p>
    </footer>
    
</body>
</html>