<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "mantenimiento.css", title: "Home - PATITAS"}) %>
    <link rel="stylesheet" href="/css/mantenimiento.css">
<body>

    <div>
        <h2>Sitio en mantenimiento</h2>
        <a href="/"><p>Volver al home</p></a>
    </div>
    
       

        
    
    
</body>
</html>