<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "sobreNosotros", title: "Sobre Nosotros"}) %>
<body>

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/header2.ejs") %>

    <main>
        <div class="container">
            <div class="banner-AU">
                <img src="/img/vertical_dog_banner_portraits-transformed.jpeg" alt="">
            </div>
            <div class="texto">
                <header>
                    <h1>Nuestra Historia</h1>
                </header>
                <section class="about-us">
                    <p>¡Bienvenidos a nuestra tienda dedicada a consentir a tus peludos amigos de cuatro patas! En el corazón de nuestro negocio late el profundo amor y devoción que sentimos por los perros y gatos que traen alegría a nuestros hogares y llenan nuestras vidas de amor incondicional.</p>
                    <p>En este rincón especial, nos esforzamos por ofrecer mucho más que simples productos para mascotas. Aquí, nos dedicamos a cultivar un ambiente cálido y acogedor donde tanto tú como tu compañero peludo se sientan como en casa desde el momento en que cruzan nuestras puertas virtuales o físicas.</p>
                    <p>Somos conscientes de que detrás de cada compra hay una historia, un lazo único y profundo entre tú y tu fiel amigo. Es por eso que más allá de ofrecerte los mejores productos y servicios, nos esforzamos por comprender las necesidades específicas de cada mascota y de cada familia.</p>
                    <p>Nuestro compromiso va más allá de simplemente vender productos; nos dedicamos a construir relaciones duraderas, basadas en la confianza, la empatía y el cuidado genuino. Nos enorgullece brindar una atención al cliente excepcional, pero siempre recordando que nuestra prioridad absoluta son las mascotas que llenan de luz y alegría nuestros días.</p>
                    <p>Al elegir nuestra tienda, no solo encontrarás una amplia gama de productos de alta calidad para consentir a tu fiel amigo, sino que también te unirás a una comunidad de amantes de los animales que comparten tu pasión y compromiso por el bienestar y la felicidad de todas las mascotas.</p>
                    <p>Gracias por confiar en nosotros para ser parte de la vida y el cuidado de tus queridos compañeros peludos. Juntos, continuaremos creando momentos inolvidables y fortaleciendo los lazos que nos unen a ellos, porque en nuestra tienda, cada latido del corazón cuenta.</p>
                </section>
            </div>
        </div>
    </main>

    <%- include("./partials/footer.ejs") %>

</body>
</html>