<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {cssSheet: "alta-editar", title: "Alta producto"}) %>
    <link rel="stylesheet" href="/css/header-footer.css">

<body>

    <%- include("./partials/header.ejs") %>    
    <%- include("./partials/header2.ejs") %>

<main>
    <h3 class="titulo-ppal">Listado de usuarios:</h3>
    <article class="contenedor-alta">
       
    </article>
</main>

</body>
</html>