<footer>
    <div class="div-izquierda">
        <img src="/img/header/logoB.png" alt="logoB2" class="logo2"> 
        <div class="nosotros">
            <h4>Nosotros</h4>
            <a href="/sobrenosotros"><p>Sobre Patitas</p></a>
        </div>
        <div class="todo-perro">
            <h4>Todo para tu perro</h4>
            <a href="/productos/perro"><p>Ver productos</p></a>
        </div>
        <div class="todo-gato">
            <h4>Todo para tu gato</h4>
            <a href="/productos/gato"><p>Ver productos</p></a>
        </div>
    </div>
    <div class="div-derecha">
        <div class="contacto">
            <h4>Contacto</h4>
            <p>Atenci칩n telef칩nica:
                0811-2345-7890</p>
            <p>Atenci칩n por WhatsApp:
                +54-9-1141965543</p>
            <p>Lunes a s치bado de 9 a 21hs
                Domingos de 10 a 20hs</p>
        </div>
        <div class="redes-sociales">
            <h4>Redes sociales</h4>
            <div class="rrss-iconos">
                <div class="facebook-tablet"><i class="fa-brands fa-facebook fa-2xl"></i></div>
                <div class="facebook-mobile"><i class="fa-brands fa-facebook fa-xl"></i></div>
                <div class="twitter-tablet"><i class="fa-brands fa-x-twitter fa-2xl"></i></div>
                <div class="twitter-mobile"><i class="fa-brands fa-x-twitter fa-xl"></i></div>
                <div class="instagram-tablet"><i class="fa-brands fa-instagram fa-2xl"></i></div>
                <div class="instagram-mobile"><i class="fa-brands fa-instagram fa-xl"></i></div>
            </div>  
        </div>
    </div>
</footer>