

<div class="header2">
    <div class="header2-opciones">
        <div class="dropdown">
            <a href="/productos/categoria-perro">
                <p class="dropbtn">Perro<i class="fa-solid fa-circle-arrow-down"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="#">Comida</a>
                <a href="#">Accesorios</a>
                <a href="#">Higiene</a>
                <a href="#">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/categoria-gato">
                <p class="dropbtn">Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="#">Comida</a>
                <a href="#">Accesorios</a>
                <a href="#">Higiene</a>
                <a href="#">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/marcas">
                <p class="dropbtn">Marcas<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="#">Marca 1</a>
                <a href="#">Marca 2</a>
                <a href="#">Marca 3</a>
                <a href="#">Marca 4</a>
                <a href="#">Marca 5</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/promociones">
                <p class="dropbtn">Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/promociones-perro">Promociones para perro</a>
                <a href="/productos/promociones-gato">Promociones para gato</a>
            </div>
        </div>
    </div>
</div>