

<div class="header2">
    <div class="header2-opciones">
        <div class="dropdown">
            <p class="dropbtn">Perro<i class="fa-solid fa-circle-arrow-down"></i></p>
            <div class="dropdown-content">
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <a href="/productos/categoria-gato"><div class="dropdown">
            <p class="dropbtn">Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            <div class="dropdown-content">
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div></a>
        <a href="/productos/marcas"><div class="dropdown">
            <p class="dropbtn">Marcas<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            <div class="dropdown-content">
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div></a>
        <a href="/productos/promociones"><div class="dropdown">
            <p class="dropbtn">Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            <div class="dropdown-content">
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div></a>
    </div>
</div>