<div class="header2">
    <div class="header2-opciones">
        <a href="/productos/categoria-perro"><div class="header2-perro"><p>Perro<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div></a>
        <a href="/productos/categoria-gato"><div class="header2-gato"><p>Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div></a>
        <a href="#"><div class="header2-marcas"><p>Marcas<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div></a>
        <a href="#"><div class="header2-promociones"><p>Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div></a>
    </div>
</div>