

<div class="header2">
    <div class="header2-opciones">
        <div class="dropdown">
            <a href="/productos/perro">
                <p class="dropbtn">Perro<i class="fa-solid fa-circle-arrow-down"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/perro/comida">Comida</a>
                <a href="/productos/perro/accesorios">Accesorios</a>
                <a href="/productos/perro/higiene">Higiene</a>
                <a href="/productos/perro/juguetes">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/gato">
                <p class="dropbtn">Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/gato/comida">Comida</a>
                <a href="/productos/gato/accesorios">Accesorios</a>
                <a href="/productos/gato/higiene">Higiene</a>
                <a href="/productos/gato/juguetes">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/marcas">
                <p class="dropbtn">Marcas<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/marcas/eukanuba">Eukanuba</a>
                <a href="/productos/marcas/proplan">Pro Plan</a>
                <a href="/productos/marcas/royal">Royal Canin</a>
                <a href="/productos/marcas/cancat">Cancat</a>
                <a href="/productos/marcas/catit">Cat-It</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/promociones">
                <p class="dropbtn">Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/perro/promociones">Promociones para perro</a>
                <a href="/productos/gato/promociones">Promociones para gato</a>
            </div>
        </div>
    </div>
</div>