<div class="header2">
    <div class="header2-opciones">
        <div class="header2-perro"><p>Perro<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></p></div>
        <div class="header2-gato"><p>Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div>
        <div class="header2-marcas"><p>Marcas<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div>
        <div class="header2-promociones"><p>Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p></div>
    </div>
</div>